<!-- 位置导航 -->
<div class="pos-nav mb30"><a href="#" ui-sref="states.accountant">首页</a><span>&gt;</span>找回密码</div>
<!-- /位置导航 -->
<div class="p-wrap-full w8">
    <div class="p20">
        <div class="colhead">
            <div class="leadbox clear">
                <span class="coltit fl">找回密码</span>
            </div>
            <div class="tipcon">如果您忘记密码，请在下面输入姓名、证书档案号、电话等信息，并提交。提交成功后，您的密码将重置为000000，登录成功后请即时修改您的密码。</div>
        </div>
        <ul class="fhlist">
            <li><span class="title"><em class="fvx">*</em>姓名</span>
                <input type="text" class="ui-ipt iptform" value="" placeholder="请输入姓名">
            </li>
            <li><span class="title"><em class="fvx">*</em>证书档案号</span>
                <input type="text" class="ui-ipt iptform" value="" placeholder="请输入18位身份证号">
                <span class="formver">不能为空</span>
            </li>
            <li><span class="title">&nbsp;</span>
                <input class="ui-btn btn-r" type="button" value="立即找回">
            </li>
        </ul>
    </div>
</div>


<!--找回密码成功-->
<div class="p-wrap-full w8">
    <div class="p20">
        <div class="completed-info">
            <div class="fpsucc">
                <p class="fptit"><i class="p-ico icofpsucc"></i>密码重置成功！</p>
                <p class="mt10 ml20">新密码为：000000</p>
                <div class="mt20">
                    <input class="ui-btn btn-r" type="button" value="去登录">
                    <span class="ml20 t-b">5秒</span> 后返回首页
                </div>
            </div>
        </div>
    </div>
</div>