<div class="main-wrap-body" ng-if="model.batchInfo.state==='beginning'">
    <div class="tips-box">
        温馨提示:<br>
        1. 需为学员缴费，请先创建缴费批次，再选择对应批次缴费的人员及培训班；<br>
        2. 平台提供手动加班和批量导班两种方式，批量导班需先下载导入模版再提交，导入任务成功的记录会直接显示在报名批次中；<br>
        3. 缴费批次提交后，请在 <span class="t-r">24小时</span> 内进行缴费，超过时间未缴则系统将默认关闭批次，需重新创建批次进行缴费。
    </div>
    <div class="block-white clear mt20 p10">
        <p class="mt5 fl">
            报名批次号： <span ng-bind="model.batchInfo.no"></span>
            <span class="ml50">缴费人次：<i ng-bind="model.batchInfo.people"></i></span>
            <span class="ml50">实付金额（元）：<i ng-bind="model.batchInfo.totalMoney"></i></span>
        </p>
        <a ng-click="events.commitOrder()" has-permission="batchManage/commit" class="btn-r btn fr">提交批次</a>
    </div>
    <div class="column mt20">
        <div class="col-tit">当前批次状态</div>
        <div class="dash-line-2"></div>
    </div>
    <div class="search-bar mt20">
        <ul class="ul-form li-fl clear">
            <li><input type="text"
                       ng-model="model.batchParams.identify"
                       hb-clear-input
                       class="ipt ipt-medium" placeholder="请输入身份证号"></li>
            <li><input type="text"
                       ng-model="model.batchParams.trainClassName"
                       ng-click="events.openKendoWindow('classWindow')"
                       class="ipt ipt-medium" placeholder="请选择培训班">
                <span style="position:absolute;right:3px;top:9px;cursor:pointer"
                      ng-click="events.clearTextContent()"
                      class="k-icon k-i-close" role="button">select
                </span>
            </li>
            <li>
                <a has-permission="batchManage/commit" ng-click="events.search($event)" class="btn btn-b">查询</a>
                <a has-permission="createBatch/addGoodsToBatchList" class="btn-r btn ml10"
                   ng-click="events.openKendoWindow ( 'handWindowOptions' );">手动加班</a>
                <a has-permission="createBatch/addGoodsToBatchList" class="btn-r btn ml10"
                   ng-click="events.openKendoWindow ( 'batchWindowOptions' );">批量导班</a>
                <a has-permission="createBatch/importSrarch"
                   ng-click="events.openKendoWindow ( 'importBatchWindowOptions' );" class="ml10 a-b">查看导入任务</a>

            </li>
        </ul>
    </div>
    <div class="col-body table-box mt20">
        <div kendo-grid="node.createbatchGrid" k-options="ui.createbatchGrid.options">
        </div>
    </div>
    <div class="btn-center mt20">
        <a ng-click="events.commitOrder()" has-permission="batchManage/commitOrder" class="btn btn-r">提交批次</a>
        <a ng-click="$state.go('states.batchManage')" class="btn btn-g ml10">返回列表</a>
    </div>
</div>
<div class="dialog w-2" k-options="kendoPlus.handWindowOptions" kendo-window="handWindowOptions" style="width:1050px;">
    <div class="dialog-body ">
        <div class="dialog-tit">手动添加班级<a href="javascript:void(0)"
                                         ng-click="events.closeKendoWindow('handWindowOptions')"
                                         class="ico ico-close"></a></div>
        <div class="dialog-cont">
            <div class="tab-tit">
                <a class="current">选择人员</a>
            </div>
            <div class="search-bar mt10">
                <ul class="ul-form li-fl clear" has-permission="createBatch/search">
                    <li><input type="text"
                               class="ipt ipt-medium"
                               hb-clear-input
                               ng-model="model.choosePeopleParam.IDNum"
                               placeholder="请输入身份证号"></li>
                    <li><input type="text"
                               ng-model="model.choosePeopleParam.name"
                               hb-clear-input
                               class="ipt ipt-medium" placeholder="请输入姓名"></li>
                    <li><a ng-click="events.MainPageQueryList($event,'chosePeopleGridInstance','chosePeoplePage')"
                           class="btn btn-b">查询</a></li>
                </ul>
            </div>
            <div class="col-body table-box mt20">
                <!--<div kendo-grid="node.chosePeopleGrid" k-options="ui.chosePeopleGrid.options">
                </div>-->
                <div kendo-grid="kendoPlus.chosePeopleGridInstance"
                     k-options="chosePeopleGrid.options" k-ng-delay="kendoPlus.gridDelay">
                </div>
            </div>
            <div class="tab-tit mt20">
                <a class="current">选择培训班</a>
            </div>

            <div class="search-bar mt10">
                <ul class="ul-form li-fl clear" has-permission="createBatch/search">
                    <li>
                        <!--<div hb-sku-directive templateurl="@systemUrl@/templates/common/hb-sku-anthorpl.html" ng-model="bbb"></div>
                        -->
                        <div hb-sku-directive
                             ng-model="skuParamsChoose"
                             lwhmodel="skuParamsChoose"
                             templateurl="@systemUrl@/templates/common/hb-sku-anthorpl.html">

                        </div>
                    </li>
                    <li><input type="text" ng-model="model.chooseQueryParam.commodityName" class="ipt ipt-medium"
                               placeholder="请输入培训班名称"></li>
                    <li><a ng-click="events.MainPageQueryList($event,'choseClassGridInstance','chooseClassPage')"
                           class="btn btn-b">查询</a></li>
                </ul>
            </div>
            <div class="col-body table-box mt20">
                <!-- <div kendo-grid="node.choseClassGrid" k-options="ui.choseClassGrid.options">
                 </div>-->
                <div kendo-grid="kendoPlus.choseClassGridInstance"
                     k-options="choseClassGrid.options">
                </div>
            </div>
        </div>
        <div class="btn-center">
            <a ng-click="events.addGoodsToBatchList(1)" has-permission="createBatch/addGoodsToBatchList"
               class="btn btn-r">确认提交</a>
            <a ng-click="events.addGoodsToBatchList(2)" has-permission="createBatch/addGoodsToBatchList"
               class="btn btn-r ml10">继续添加</a>
            <a ng-click="events.closeKendoWindow('handWindowOptions')" class="btn btn-g ml10">取消</a>
        </div>
    </div>
</div>

<div class="dialog w-2" k-options="kendoPlus.importBatchWindowOptions" kendo-window="importBatchWindowOptions"
     style="width:1200px;">
    <div class="dialog-body ">
        <div class="dialog-tit">查看导入任务<a href="javascript:void(0)"
                                         ng-click="events.closeKendoWindow('importBatchWindowOptions')"
                                         class="ico ico-close"></a></div>
        <div class="dialog-cont">
            <div class="col-body table-box mt20">
                <div kendo-grid="kendoPlus.importGrid" k-options="importGrid.options">
                </div>
            </div>


        </div>

    </div>
</div>

<div class="dialog w-8" k-options="kendoPlus.batchWindowOptions" kendo-window="batchWindowOptions">
    <div class="dialog-body">
        <div class="dialog-tit">批量导入人员<a href="javascript:void(0)"
                                         ng-click="events.closeKendoWindow('batchWindowOptions')"
                                         class="ico ico-close"></a></div>
        <div class="dialog-cont">
            <div class="tips-box">
                温馨提示：1.批量导入班级前，请先下载导入模版，根据模版要求导入培训班！
                <span style="margin-left: 69px">2.选择批量导班功能，请在导入成功后，刷新页面查询导入情况。</span>
            </div>
            <div class="mt10">
                <a class="btn-b btn" href="b{{urlPrefix}}/mfs/resource/file/SM2BatchListImport.xls">导入模版下载</a>
                <a ng-click="events.goClass()" class="a-b ml10">查询平台可报班级</a>
            </div>
            <ul class="ul-d-form mt20">
                <!--   <li>
                       <span class="left-txt left-txt-4">选择导入文件：</span>
                       <input type="text" class="ipt w-6" placeholder="选择导入文件">
                       <a href="#" class="upload upload-3">
                           <input type="button" class="btn btn-b" value="选择文件">
                           <input type="file" class="file">
                       </a>
                   </li>-->

                <li>
                    <span class="left-txt left-txt-4">选择导入文件：</span>
                    <input type="text"
                           ng-model="model.upload.result.fileName"
                           readonly class="ipt w-6"
                           placeholder="选择导入文件">
                    <!-- <a   class="upload upload-3">
                        <input type="button" class="btn btn-b" value="选择文件">
                        <input type="file" class="file">
                    </a>-->
                    <div hb-file-uploader="test"
                         ng-if="windowLoaded" auto="true" style=" display: inline-block;margin: 0;padding: 0;"
                         ng-model="model.upload.result"
                         class="upload btn">
                    </div>
                </li>
                <li>
                    <span class="left-txt left-txt-4"></span>
                    <a ng-click="events.importOrder()" class="btn btn-r mt10">导入</a>
                </li>
            </ul>
        </div>

    </div>
</div>
<!--培训班弹窗-->
<div class="dialog w-2" k-options="kendoPlus.windowOptions" kendo-window="classWindow" style="width:1200px;">
    <div class="dialog-body">
        <div class="dialog-tit">选择班级<a href="javascript:void(0)"
                                       class="ico ico-close"
                                       ng-click="events.closeKendoWindow('classWindow')"></a></div>
        <div class="dialog-cont">
            <div class="search-bar">
                <ul class="ul-form li-fl clear">
                    <li>
                        <!-- <div hb-sku-directive templateurl="@systemUrl@/templates/common/hb-sku-anthorpl.html" ng-model="aaa"></div>
                        -->
                        <div hb-sku-directive
                             ng-model="skuParamsConfiged"
                             lwhmodel="skuParamsConfiged"
                             templateurl="@systemUrl@/templates/common/hb-sku-anthorpl.html">

                        </div>
                    </li>

                    <li><a href="javascript:void(0)"
                           ng-click="events.MainPageQueryList($event,'classGridInstance','classPage')"
                           class="btn btn-b">搜索</a></li>
                </ul>
            </div>
            <div kendo-grid="kendoPlus.classGridInstance"
                 k-options="classGrid.options">
            </div>

        </div>
        <div class="btn-center">
            <a href="javascript:void(0)"
               class="btn btn-g ml10"
               ng-click="events.closeKendoWindow('classWindow')">取消</a>
        </div>
    </div>
</div>

<div class="main-wrap-body" ng-if="model.batchInfo.state!=='beginning'">
    <div class="steps pb10" ng-if="model.batchDetail.state==='tradeClose'">
        <div class="bg-line rd3"><span class="bg-l-current rd3" style="width: 100%"></span>
        </div>
        <ul class="ul-step ul-step-4 li-fl clear" ng-if="model.batchDetail.state==='tradeClose'">
            <li class="current"><span class="ico s-1"></span>
                <p class="step-name">提交批次<br>b{{model.batchDetail.commitTime}} </p></li>
            <li class="current"><span class="ico s-2"></span>
                <p class="step-name">交易关闭<br>b{{model.batchDetail.tradeFinishTime}}</p></li>
        </ul>
    </div>

    <div class="steps pb10" ng-if="model.batchDetail.state==='tradeSuccess'">
        <div class="bg-line rd3"><span class="bg-l-current rd3" style="width: 100%"></span>
        </div>
        <ul class="ul-step ul-step-3 li-fl clear">
            <li class="current"><span class="ico s-1"></span>
                <p class="step-name">提交批次<br><span ng-bind="model.batchDetail.commitTime"></span> </p></li>
            <li class="current"><span class="ico s-2"></span>
                <p class="step-name">已付款<br><span ng-bind="model.batchDetail.payFinishTime"></span> </p></li>
            <li class="current"><span class="ico s-3"></span>
                <p class="step-name">已发货<br><span ng-bind="model.batchDetail.deliverySuccessTime"></span>  </p></li>
            <li class="current"><span class="ico s-4"></span>
                <p class="step-name">交易成功<br><span ng-bind="model.batchDetail.tradeFinishTime"></span> </p></li>
        </ul>
    </div>
    <div class="steps pb10" ng-if="model.batchDetail.state==='delivering'">
        <div class="bg-line rd3"><span class="bg-l-current rd3" style="width: 50%"></span>
        </div>
        <ul class="ul-step ul-step-3 li-fl clear">
            <li class="current"><span class="ico s-1"></span>
                <p class="step-name">提交批次<br><span ng-bind="model.batchDetail.commitTime"></span> </p></li>
            <li class="current"><span class="ico s-2"></span>
                <p class="step-name">已付款<br><span ng-bind="model.batchDetail.payFinishTime"></span></p></li>
            <li><span class="ico s-3"></span>
                <p class="step-name">已发货</p></li>
            <li><span class="ico s-4"></span>
                <p class="step-name">交易成功</p></li>
        </ul>
    </div>
    <div class="steps pb10" ng-if="model.batchDetail.state==='deliverySuccess'">
        <div class="bg-line rd3"><span class="bg-l-current rd3" style="width: 75%"></span>
        </div>
        <ul class="ul-step ul-step-3 li-fl clear">
            <li class="current"><span class="ico s-1"></span>
                <p class="step-name">提交批次<br><span ng-bind="model.batchDetail.commitTime"></span></p></li>
            <li class="current"><span class="ico s-2"></span>
                <p class="step-name">已付款<br><span ng-bind="model.batchDetail.payFinishTime"></span></p></li>
            <li class="current"><span class="ico s-3"></span>
                <p class="step-name">已发货<br><span ng-bind="model.batchDetail.deliverySuccessTime"></span></p></li>
            <li><span class="ico s-4"></span>
                <p class="step-name">交易成功</p></li>
        </ul>
    </div>
    <div class="steps pb10"
         ng-if="model.batchDetail.state==='addingOrder'||model.batchDetail.state==='paying'||model.batchDetail.state==='commited'||model.batchDetail.state==='payFail' ">
        <div class="bg-line rd3"><span class="bg-l-current rd3" style="width: 25%"></span>
        </div>
        <ul class="ul-step ul-step-3 li-fl clear">
            <li class="current"><span class="ico s-1"></span>
                <p class="step-name">提交批次<br>b{{model.batchDetail.commitTime}} </p></li>
            <li><span class="ico s-2"></span>
                <p class="step-name">已付款</p></li>
            <li><span class="ico s-3"></span>
                <p class="step-name">已发货</p></li>
            <li><span class="ico s-4"></span>
                <p class="step-name">交易成功</p></li>
        </ul>
    </div>

    <div class="column mt20">
        <div class="col-tit">当前批次状态</div>
        <p class="ml15">
            报名批次号：<span ng-bind="model.batchDetail.no"></span>  <span class="ml50">批次创建人：<i ng-bind="model.batchDetail.creatorName"></i>  </span><span
                class="ml50">状态：
                    <span ng-if="model.batchDetail.state==='beginning'">待下单</span>
                    <span ng-if="model.batchDetail.state==='addingOrder'">下单中</span>
                    <span ng-if="model.batchDetail.state==='commited'">待付款</span>
                    <span ng-if="model.batchDetail.state==='paying'">支付中</span>
                    <span ng-if="model.batchDetail.state==='payFail'">支付失败</span>
                    <span ng-if="model.batchDetail.state==='paySuccess'">支付成功</span>
                    <span ng-if="model.batchDetail.state==='delivering'">开通中</span>
                    <span ng-if="model.batchDetail.state==='deliverySuccess'">发货成功</span>
                    <span ng-if="model.batchDetail.state==='tradeSuccess'">交易成功</span>
                    <span ng-if="model.batchDetail.state==='tradeClose'">交易关闭</span>
                    <span ng-if="model.batchDetail.state==='tradeClosing'">交易关闭中</span>
        </span>
            <a ng-click="events.goPay()" has-permission="batchManage/goPay"
               ng-if="model.batchDetail.state==='paying'||model.batchDetail.state==='commited'||model.batchDetail.state==='payFail'"
               class="btn btn-b ml50">去付款</a>
            <a ng-click="events.closeOrder()" has-permission="batchManage/closeOrder"
               ng-if="model.batchDetail.state==='paying'||model.batchDetail.state==='commited' " class="btn btn-g ml10">关闭批次</a>
        </p>
        <div class="dash-line-2"></div>
    </div>
    <div class="column mt20">
        <div class="col-tit">批次信息</div>
        <p class="ml15 b">购买人信息</p>
        <p class="ml15 mt5">购买人：<span ng-bind="model.batchDetail.buyerName"></span>  <span class="ml50">登录帐号：<i ng-bind="model.batchDetail.buyerAccount"></i>   </span>
        </p>
        <div ng-if="model.batchDetail.needInvoice===true && model.batchDetail.bill.electron===false">
            <div class="dash-line-5"></div>
            <p class="ml15 b">发票收货信息</p>

            <div ng-if="model.batchDetail.bill.deliverType==='2'">
                <p class="ml15 mt5">寄送方式：自取 </p>
                <p class="ml15 mt5">领取地点：<span ng-bind="model.batchDetail.bill.recipientsAddress"></span></p>
                <p class="ml15 mt5">领取时间：<span ng-bind="model.batchDetail.bill.signTime"></span></p>
                <p class="ml15 mt5">备注：<span ng-bind="model.batchDetail.bill.remark"></span></p>
            </div>

            <div ng-if="model.batchDetail.bill.deliverType==='1'">
                <p class="ml15 mt5">寄送方式：邮寄 </p>
                <p class="ml15 mt5">收件人：<span ng-bind="model.batchDetail.bill.receiverName||'-'"></span></p>
                <!--<p class="ml15 mt5">手机号：<span ng-bind="model.batchDetail.bill.mobileNo"></span></p>-->
                <p class="ml15 mt5">收件详址：<span ng-bind="model.batchDetail.bill.recipientsAddress||'-'"></span></p>
                <p class="ml15 mt5">邮政编码：<span ng-bind="model.batchDetail.bill.postCode||'-'"></span></p>
                <!--<p class="ml15 mt5">快递公司：<span ng-bind="model.batchDetail.bill.expressCompany||'-'"></span></p>-->
                <!--<p class="ml15 mt5">快递单号：<span ng-bind="model.batchDetail.bill.expressNumber||'-'"></span></p>-->
            </div>
        </div>


        <div ng-if="model.batchDetail.flows!==null&&model.batchDetail.flows.length>0">
            <div class="dash-line-5"></div>
            <p class="ml15 b">支付信息</p>
            <div class="clear">

                <div class="wp-5 fl pb10" ng-repeat="item in model.batchDetail.flows">
                    <p class="ml15 mt5">支付方式：
                        <span ng-if="model.batchDetail.payType==1">网上报名</span>
                        <span ng-if="model.batchDetail.payType==2">线下报名</span>-
                        <span ng-bind="model.batchDetail.tradeChannelName"></span>-
                        <span ng-if="model.batchDetail.depositBank">
                        -<span ng-bind="model.batchDetail.depositBank"></span>
                    </span>
                    </p>
                    <p class="ml15 mt5">交易号：<span ng-bind="item.flowNo"></span></p>
                    <!--<p class="ml15 mt5">收款帐号别名：<span ng-bind="model.batchDetail.paymentRecordList[0].accountAlias"></span></p>-->
                    <p class="ml15 mt5">付款时间：<span ng-bind="item.payTime"></span></p>
                    <p class="ml15 mt5">付款成功时间：<span ng-bind="item.payFinishTime||'-'"></span></p>
                </div>
            </div>
        </div>
        <div ng-if="model.batchDetail.flows==null||model.batchDetail.flows.length===0">
            <div class="dash-line-5"></div>
            <p class="ml15 b">支付信息</p>
            <div class="clear">
                <div class="wp-5 fl pb10">
                    <!--<p class="ml15 mt5">交易 <span class="b t-r fs16">1</span>:</p>-->
                    <p class="ml15 mt5">支付方式：
                        <span ng-if="model.batchDetail.payType==1">网上报名</span>
                        <span ng-if="model.batchDetail.payType==2">线下报名</span>-
                        <span ng-bind="model.batchDetail.tradeChannelName"></span>
                    <span ng-if="model.batchDetail.depositBank">
                        -<span ng-bind="model.batchDetail.depositBank"></span>
                    </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="dash-line-5"></div>
        <p class="ml15 b">发票信息及配送信息</p>
        <!--没发票-->
        <p class="ml15 mt5" ng-if="model.batchDetail.needInvoice===false">是否需要发票：否 </p>
        <!-- 需要发票 -->
        <div ng-if="model.batchDetail.needInvoice===true">
            <p class="ml15 mt5">
             <span class="mr20">发票类型：
                 <span ng-if="model.batchDetail.bill.electron">普通电子发票</span>
                 <span ng-if="!model.batchDetail.bill.electron&&model.batchDetail.bill.paperInvoiceType==2">普通发票</span>
                 <span ng-if="!model.batchDetail.bill.electron&&model.batchDetail.bill.paperInvoiceType==3">增值税专用发票</span>
                 <span ng-if="model.batchDetail.bill.noTaxBill===true">非税务发票</span>
             </span>


            <span class="ml50"
                  ng-if="model.batchDetail.bill.titleType==1&&model.batchDetail.bill.paperInvoiceType!=3">
                发票抬头:[个人]<span ng-bind="model.batchDetail.bill.title||'-'"></span>
            </span>
            <span class="ml50"
                  ng-if="model.batchDetail.bill.titleType==2&&model.batchDetail.bill.paperInvoiceType!=3">
                发票抬头:[单位]<span ng-bind="model.batchDetail.bill.title||'-'"></span>
            </span>
            <span class="ml50"
                  ng-if="(!model.batchDetail.bill.electron&&model.batchDetail.bill.paperInvoiceType==3)">
                单位名称:<span ng-bind="model.batchDetail.bill.title||'-'">
            </span>
            </span>
            <span class="ml50"
                  ng-if="(model.batchDetail.bill.titleType==2||(!model.batchDetail.bill.electron&&model.batchDetail.bill.paperInvoiceType==3))&&model.batchDetail.bill.noTaxBill===false">纳税人识别号：<span
                    ng-bind="model.batchDetail.bill.taxpayerNo||'-'"></span></span>
            </p>
            <!--增值税发票才有的选项-->
            <p class="ml15 mt5"
               ng-if="!model.batchDetail.bill.electron&&model.batchDetail.bill.paperInvoiceType==3"
            >开户银行：<span ng-bind="model.batchDetail.bill.bankName"></span>
            </p>

            <p class="ml15 mt5"
               ng-if="!model.batchDetail.bill.electron&&model.batchDetail.bill.paperInvoiceType==3"
            >开户账号：<span ng-bind="model.batchDetail.bill.account"></span>
            </p>

            <p class="ml15 mt5"
               ng-if="!model.batchDetail.bill.electron&&model.batchDetail.bill.paperInvoiceType==3"
            >注册电话：<span ng-bind="model.batchDetail.bill.phone"></span>
            </p>

            <p class="ml15 mt5"
               ng-if="!model.batchDetail.bill.electron&&model.batchDetail.bill.paperInvoiceType==3"
            >注册地址：<span ng-bind="model.batchDetail.bill.address"></span>
            </p>
            <!--增值税发票才有的选项-->

            <p class="ml15 mt5">
            <span>开票状态：
                <span ng-switch="model.batchDetail.bill.billState">
                    <!-- 发票状态 0：未打印1:已打印2:已发货3:已作废 -->
                    <span ng-switch-when="0">待开票</span>
                    <span ng-switch-when="1">已开票</span>
                    <span ng-switch-when="2">已开票</span>
                    <span ng-switch-when="3">已作废</span>
                    <span ng-switch-default>-</span>
                </span>
            </span>
                <span class="ml50">发票号码：<span ng-bind="model.batchDetail.bill.billNo||'-'"></span></span>
                <!-- 电子票的额外信息 -->
                <!--<span ng-if="model.batchDetail.bill.electron===true" class="ml50">发票代码：<span ng-bind="model.batchDetail.bill.code||'-'"></span></span>-->
            </p>

            <!-- 电子票的额外信息 -->
            <!--<p ng-if="model.batchDetail.bill.electron===true" class="ml15 mt5">-->
            <!--<span>查询验证码：<span ng-bind="model.batchDetail.bill.verifyCode||'-'"></span></span>-->
            <!--<span class="ml50">开票日期：<span ng-bind="model.batchDetail.bill.createTime||'-'"></span></span>-->
            <!--<span class="ml50">下载地址：<span ng-bind="model.batchDetail.bill.code||'-'"></span></span>-->
            <!--</p>-->
        </div>


        <div ng-if="model.batchDetail.needInvoice===true && model.batchDetail.bill.electron===false">
            <div class="dash-line-5"></div>
            <p class="ml15 b">配送信息</p>

            <div ng-if="model.batchDetail.bill.deliverType==='2'">
                <p class="ml15 mt5">配送方式：自取 </p>
                <p class="ml15 mt5">领取地点：<span ng-bind="model.batchDetail.bill.recipientsAddress"></span></p>
                <p class="ml15 mt5">领取时间：<span ng-bind="model.batchDetail.bill.signTime"></span></p>
                <p class="ml15 mt5">备注：<span ng-bind="model.batchDetail.bill.remark"></span></p>
            </div>

            <div ng-if="model.batchDetail.bill.deliverType==='1'">
                <p class="ml15 mt5">配送方式：邮寄
                    <!--<p class="ml15 mt5">收件人：<span ng-bind="model.batchDetail.bill.receiverName||'-'"></span></p>-->
                    <!--<p class="ml15 mt5">手机号：<span ng-bind="model.batchDetail.bill.mobileNo"></span></p>-->
                    <!--<p class="ml15 mt5">收件详址：<span ng-bind="model.batchDetail.bill.postAddress||'-'"></span></p>-->
                    <!--<p class="ml15 mt5">邮政编码：<span ng-bind="model.batchDetail.bill.postCode||'-'"></span></p>-->
                <span class="ml50">快递公司：<span
                        ng-bind="model.batchDetail.bill.expressCompany||'-'"></span></span></p>
                <p class="ml15 mt5">运单号：<span ng-bind="model.batchDetail.bill.expressNumber||'-'"></span>
                <span class="ml50" ng-show="model.batchDetail.bill.expressNumber">
                    <a copy-man-four class="txt-b mt10" style="display: inline-block;"
                       after-copy="events.afterCopy(model.batchDetail.bill.expressCompanyUrl)"
                       data-clipboard-text="b{{model.batchDetail.bill.expressNumber}}">复制运单号并查询</a></span>
                </p>
                <p class="ml15 mt5">发货时间：<span ng-bind="model.batchDetail.bill.sendTime||'-'"></span></p>
            </div>
        </div>

    </div>


    <div class="column mt20">
        <div class="col-tit">购买清单</div>
        <a ng-click="events.goOrderManage()" has-permission="batchDetail/goOrderManage" class="ml15 a-b">查看购买批次详情</a>
    </div>
</div>