<div class="main-wrap-body" ng-show="$state.current.name === 'states.courseWareManager'"
     ng-click="lessonTypeShow=false">
    <div class="tab-tit mt10" ng-if="events.isSubProjectManager()">
        <a href=""
           ng-class="{ current: currentTab===tabMap.myself.code}"
           ng-click="events.chooseTab($event,tabMap.myself.code)"
           ng-bind="tabMap.myself.name"
        ></a>
        <a href=""
           ng-class="{ current: currentTab===tabMap.all.code}"
           ng-click="events.chooseTab($event,tabMap.all.code)"
           ng-bind="tabMap.all.name"
        ></a>
    </div>
    <!-- 本单位 -->
    <div class="tab-bd" ng-show="currentTab===tabMap.myself.code">
        <br/>
        <div class="column">
            <a href="javascript: void(0);" has-permission="courseWareManager/add" ng-click="events.add()"
               class="btn-r btn">新建课件</a>
            <a href="javascript: void(0);" has-permission="courseWareManager/downloadModel"
               ng-click="events.toDownQuestionMode()" class="btn-r btn">弹窗题模板下载</a>
            <a href="javascript: void(0);" has-permission="courseWareManager/import"
               ng-click="events.toImportQuestion()"
               class="btn-r btn">弹窗题导入</a>
            <div class="dash-line-3" style="margin-top: 10px"></div>
        </div>
        <div class="search-bar">
            <ul class="ul-form li-fl clear">
                <li>课件名称：<input type="text" class="ipt ipt-medium" ng-model="model.myselfCourseWareQueryParams.name"
                                placeholder="请输入课件名称" hb-clear-input
                                ng-keyup="events.search($event)"/>
                </li>
                <li>
                    课件供应商：
                    <select ng-model="model.myselfCourseWareQueryParams.supplierId" class="slt slt-medium"
                            ng-init="model.myselfCourseWareQueryParams.supplierId=''"
                            ng-options="provider.id as provider.name for provider in model.providers"></select>

                </li>
                <li>课件类型：
                    <select class="slt slt-small" ng-model="model.myselfCourseWareQueryParams.type">
                        <option value="-1">全部</option>
                        <option value="1">文档</option>
                        <option value="2">单视频</option>
                        <option value="3">视频包</option>
                    </select>
                </li>
                <li>
                    课件分类：
                    <input type="text" readonly="true" name="type" class="ipt ipt-medium"
                           ng-click="events.openTypeTree($event)"
                           placeholder="课件分类"
                           ng-model="model.myselfTypeName">
                    <div class="hide-block hb-2 mh-1" ng-show="myselfTypeShow" style="margin-left: 75px;"
                         ng-click="events.openTree($event)">
                        <div kendo-tree-view="node.tree"
                             k-options="ui.tree.options"
                             k-on-change="model.myselfSelectedItem = dataItem">
                    <span k-template ng-click="events.getTypeInfo(dataItem,$event)">
                      <label style="width: 100px;"> <span ng-bind="dataItem.name"></span></label>
                    </span>
                        </div>
                    </div>
                </li>
                <li>
                    有效状态：
                    <select class="slt slt-small" ng-model="model.myselfCourseWareQueryParams.isUsable">
                        <option value="-1">全部</option>
                        <option value="1">正常</option>
                        <option value="0">停用</option>
                    </select>
                </li>
                <li>
                    转换状态：
                    <select class="slt slt-small" ng-model="model.myselfCourseWareQueryParams.status">
                        <option value="-1">全部</option>
                        <option value="0">转换中</option>
                        <option value="1">转换成功</option>
                        <option value="2">转换失败</option>
                    </select>
                </li>
                <li>
                    创建时间：
                    <input kendo-date-picker="node.workBeginTime" k-options="ui.datePicker.begin.options"
                           ng-model="model.myselfCourseWareQueryParams.startCreateTime" hb-readonly hb-clear-input
                           type="text"
                           class="ipt ipt-medium"
                           placeholder="起始时间"/> -
                    <input kendo-date-picker="node.workEndTime" k-options="ui.datePicker.end.options"
                           ng-model="model.myselfCourseWareQueryParams.endCreateTime" hb-readonly hb-clear-input
                           type="text"
                           class="ipt ipt-s"
                           placeholder="结束时间"/>

                </li>
                <li>
                    弹窗题：
                    <input class="ipt ipt-c-xm " style="margin-top: 10px;" type="checkbox"
                           ng-click="model.myselfCourseWareQueryParams.needHasQuestion=='1'?model.myselfCourseWareQueryParams.needHasQuestion='-1':model.myselfCourseWareQueryParams.needHasQuestion='1'"/>
                </li>
                <li><a href="javascript:void(0)" has-permission="courseWareManager/query"
                       ng-click="events.searchCourseWare($event)" class="btn btn-b">查询</a></li>
            </ul>
        </div>

        <div class="col-body table-box mt20">
            <div kendo-grid="node.myselfCourseWareGrid" k-options="ui.myselfCourseWareGrid.options">
            </div>
        </div>
    </div>
    <!-- /本单位 -->
    <!-- 全部 -->
    <div class="tab-bd" ng-show="currentTab===tabMap.all.code">
        <br/>
        <div class="search-bar">
            <ul class="ul-form li-fl clear">
                <li>
                    <div unit-id="model.allCourseWareQueryParams.unitId" hb-unit-select default-choose="true"
                         unit-set-callback="events.unitSetCallback(unitId)"
                         default-txt="请选择查看单位"></div>
                </li>
                <li>课件名称：<input type="text" class="ipt ipt-medium" ng-model="model.allCourseWareQueryParams.name"
                                placeholder="请输入课件名称" hb-clear-input
                                ng-keyup="events.search($event)"/>
                </li>
                <li>
                    课件供应商：
                    <select ng-model="model.allCourseWareQueryParams.supplierId" class="slt slt-medium"
                            ng-init="model.allCourseWareQueryParams.supplierId=''"
                            ng-options="provider.id as provider.name for provider in model.providers"></select>

                </li>
                <li>课件类型：
                    <select class="slt slt-small" ng-model="model.allCourseWareQueryParams.type">
                        <option value="-1">全部</option>
                        <option value="1">文档</option>
                        <option value="2">单视频</option>
                        <option value="3">视频包</option>
                    </select>
                </li>
                <li>
                    课件分类：
                    <input type="text" readonly="true" name="type" class="ipt ipt-medium"
                           ng-click="events.openTypeTree($event)"
                           placeholder="课件分类"
                           ng-model="model.allTypeName">
                    <div class="hide-block hb-2 mh-1" ng-show="allTypeShow" style="margin-left: 75px;"
                         ng-click="events.openTree($event)">
                        <div kendo-tree-view="node.tree"
                             k-options="ui.tree.options"
                             k-on-change="model.allSelectedItem = dataItem">
                    <span k-template ng-click="events.getTypeInfo(dataItem,$event)">
                      <label style="width: 100px;"> <span ng-bind="dataItem.name"></span></label>
                    </span>
                        </div>
                    </div>
                </li>
                <li>
                    有效状态：
                    <select class="slt slt-small" ng-model="model.allCourseWareQueryParams.isUsable">
                        <option value="-1">全部</option>
                        <option value="1">正常</option>
                        <option value="0">停用</option>
                    </select>
                </li>
                <li>
                    转换状态：
                    <select class="slt slt-small" ng-model="model.allCourseWareQueryParams.status">
                        <option value="-1">全部</option>
                        <option value="0">转换中</option>
                        <option value="1">转换成功</option>
                        <option value="2">转换失败</option>
                    </select>
                </li>
                <li>
                    创建时间：
                    <input kendo-date-picker="node.workBeginTime" k-options="ui.datePicker.begin.options"
                           ng-model="model.allCourseWareQueryParams.startCreateTime" hb-readonly hb-clear-input
                           type="text"
                           class="ipt ipt-medium"
                           placeholder="起始时间"/> -
                    <input kendo-date-picker="node.workEndTime" k-options="ui.datePicker.end.options"
                           ng-model="model.allCourseWareQueryParams.endCreateTime" hb-readonly hb-clear-input
                           type="text"
                           class="ipt ipt-s"
                           placeholder="结束时间"/>

                </li>
                <li>
                    弹窗题：
                    <input class="ipt ipt-c-xm " style="margin-top: 10px;" type="checkbox"
                           ng-click="model.allCourseWareQueryParams.needHasQuestion=='1'?model.allCourseWareQueryParams.needHasQuestion='-1':model.allCourseWareQueryParams.needHasQuestion='1'"/>
                </li>
                <li><a href="javascript:void(0)" has-permission="courseWareManager/query"
                       ng-click="events.searchCourseWare($event)" class="btn btn-b">查询</a></li>
            </ul>
        </div>

        <div class="col-body table-box mt20">
            <div kendo-grid="node.allCourseWareGrid" k-options="ui.allCourseWareGrid.options">
            </div>
        </div>
    </div>
    <!-- /全部 -->
</div>
<div ui-view></div>

<!------------- 弹窗题模板下载  ---------------->
<div class="dialog w-textarea3" kendo-window="node.windows.downQuestionMode" k-options="ui.windowOptions">
    <div class="dialog-body">
        <div class="dialog-tit">导出试题模板<a href="" ng-click="node.windows.downQuestionMode.close()"
                                         class="ico ico-close"></a></div>
        <div class="dialog-cont">
            <a target="_blank" class="modules-download"
               href="b{{model.downloadModelUrl}}/mfs/resource/file/SuperMarketv2_popSelection .xls"><span
                    class="ico"></span>单选题、多选题模板</a>
            <a target="_blank" class="modules-download"
               href="b{{model.downloadModelUrl}}/mfs/resource/file/SuperMarketv2_popJudge.xls"><span class="ico"></span>判断题模板</a>
        </div>
    </div>
</div>

<!--弹窗题导入-->
<div class="dialog" kendo-window="node.windows.importQuestionShow" k-options="ui.windowOptions">
    <div class="dialog-body">
        <div class="dialog-tit">导入试题<a href="" ng-click="events.closeQuestionDialog()" class="ico ico-close"></a></div>
        <div class="dialog-cont">
            <p>导入的题型：</p>
            <div class="mt10">
                <label><input type="radio" name="questionExcelModeType" value="3"
                              ng-model="model.upload.questionExcelModeType"/>单选题、多选题</label>
                <label class="ml30"><input type="radio" name="questionExcelModeType" value="4"
                                           ng-model="model.upload.questionExcelModeType"/>判断题</label>
            </div>
            <p class="mt20">选择导入的材料：</p>
            <input type="text" ng-model="model.upload.result.fileName" readonly class="ipt ipt-large ml20"
                   placeholder="批量导入试题" style="float:left;margin-top:10px;"/>

            <a hb-file-uploader="test" auto="true" ng-model="model.upload.result"
               ng-if="showImportQuestionWindow" accepts="xls"
               class="upload" style="float:left;margin-left:10px" href="javascript:void(0)">
            </a>
        </div>
        <div class="btn-center">
            <input type="button" ng-disabled="!model.isClick" class="btn btn-r" ng-click="events.importQuestion()"
                   value="导入试题"/>
            <input type="button" class="btn btn-g ml10" ng-click="events.closeQuestionDialog()" value="取消"/>
        </div>
    </div>
</div>
