<div style="position:fixed;left:50%;top:40%;z-index:99999999999" ng-if="model.gridPending">
    <img src="@systemUrl@/images/loading.gif" />
</div>
<div class="main-wrap-body" ng-show="$state.current.name === 'states.batchReconciliationManage'"
     ng-click="lessonTypeShow=false">
    <div class="search-bar">
        <ul class="ul-form li-fl lh-1 clear">
            <!--<li has-permission="batchReconciliationManage/searchClass">-->
            <!--<input type="text" class="ipt ipt-medium" ng-model="model.className"-->
            <!--placeholder="培训班"-->
            <!--ng-click="events.getGoodsInfo()"-->
            <!--hb-clear-input-->
            <!--ng-keyup="$event.keyCode==13?events.MainPageQueryList($event):''"/>-->
            <!--</li>-->
            <li><input type="text" class="ipt ipt-medium"
                       hb-clear-input
                       ng-keyup="$event.keyCode==13?events.MainPageQueryList($event):''"
                       ng-model="model.getReconciliationPage.batchNo"
                       placeholder="批次单号"/></li>
            <li><input type="text" class="ipt ipt-medium"
                       ng-model="model.getReconciliationPage.batchFlowNo"
                       hb-clear-input
                       ng-keyup="$event.keyCode==13?events.MainPageQueryList($event):''"
                       placeholder="银行交易流水号"/></li>
            <li>
                <input type="text"
                       kendo-date-picker="node.workBeginTime"
                       k-options="ui.datePicker.begin.options"
                       ng-model="model.getReconciliationPage.completeStartTimeMills"
                       hb-clear-input
                       ng-keyup="$event.keyCode==13?events.MainPageQueryList($event):''"
                       class="ipt ipt-medium"
                       placeholder="交易成功时间"/> -
                <input type="text"
                       kendo-date-picker="node.workEndTime" k-options="ui.datePicker.end.options"
                       ng-model="model.getReconciliationPage.completeEndTimeMills"
                       hb-clear-input
                       ng-keyup="$event.keyCode==13?events.MainPageQueryList($event):''"
                       class="ipt ipt-medium"
                       placeholder="交易成功时间"/></li>
            <li>
                <select class="select-small"  ng-model="model.getReconciliationPage.batchType" has-permission="batchReconciliationManage/searchTest">
                    <option selected="selected" value="-1">批次类型</option>
                    <option value="0">非测试</option>
                    <option value="1">测试</option>
                </select>
            </li>
            <li>
                <a href="javascript:void(0)"
                   has-permission="batchReconciliationManage/search"
                   ng-click="events.MainPageQueryList($event)"
                   class="btn btn-b">查询</a>
                <a href="javascript:void(0)"
                   has-permission="batchReconciliationManage/fileDownload"
                   ng-click="events.ListOpen()"
                   class="btn btn-b">列表数据导出</a>
                <!--<a href="javascript:void(0)" class="btn btn-b" ng-click="events.chooseFile($event)">导入银行流水</a>-->
            </li>
        </ul>
    </div>
    <div class="tips-box-1">
        <span class="b">搜索结果合计</span>：批次单数 <span class="t-r b" ng-bind="model.totalManageInfo.normalCount"></span> 笔，交易总额 <span class="t-r b" ng-bind="'¥' + model.totalManageInfo.totalAmount"></span>
    </div>
    <div class="column mt10">
        <div class="col-body table-box mt20">
            <div kendo-grid="node.lessonGrid" k-options="ui.lessonGrid.options">
            </div>
        </div>
    </div>
</div>



<!--&lt;!&ndash;培训班弹窗&ndash;&gt;-->
<!--<div class="dialog w-2" k-options="kendoPlus.windowOptions" kendo-window="classWindow" style="width:1200px;">-->
<!--<div class="dialog-body mt30">-->
<!--<div class="dialog-tit">选择班级<a href="javascript:void(0)"-->
<!--class="ico ico-close"-->
<!--ng-click="events.closeKendoWindow('classWindow')"></a></div>-->
<!--<div class="dialog-cont">-->
<!--<div class="search-bar">-->
<!--<ul class="ul-form li-fl clear">-->
<!--&lt;!&ndash;<li>-->
<!--<select class="slt slt-small"-->
<!--ng-change="events.changeYear(model.yearList)"-->
<!--ng-options="item.optionId as item.name for item in model.yearList"-->
<!--ng-model="model.configedQueryParam.trainingYear">-->
<!--</select>-->
<!--</li>-->
<!--<li>-->
<!--<select class="slt slt-small"-->
<!--ng-change="events.changeTrainLevl(model.configedQueryParam.trainingType)"-->
<!--ng-options="item.optionId as item.name for item in model.learningTypeList"-->
<!--ng-model="model.configedQueryParam.trainingType">-->
<!--</select>-->
<!--</li>-->
<!--<li>-->
<!--<select class="slt slt-small"-->
<!--ng-if="model.trainingLevelShow===true"-->
<!--ng-options="item.optionId as item.name for item in model.titleLevelList"-->
<!--ng-model="model.configedQueryParam.trainingLevel">-->
<!--</select>-->
<!--</li>&ndash;&gt;-->
<!--<li>-->
<!--<div hb-sku-directive templateurl="templates/common/hb-sku-anthorpl.html" ng-model="aaa"></div>-->
<!--</li>-->
<!--<li><a href="javascript:void(0)"-->
<!--ng-click="events.searchClassList()"-->
<!--class="btn btn-b">搜索</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div kendo-grid="kendoPlus.classGridInstance"-->
<!--k-options="classGrid.options">-->
<!--</div>-->

<!--</div>-->
<!--<div class="btn-center">-->
<!--<a href="javascript:void(0)"-->
<!--class="btn btn-g ml10"-->
<!--ng-click="events.closeKendoWindow('classWindow')">取消</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


