<div class="main-wrap-body" ng-show="$state.current.name === 'states.courseChooseStatistic'">
    <div class="search-bar">
        <ul class="ul-form li-fl clear">

            <!--       <li>
                       <select class="slt slt-small"
                               ng-options="item.optionId as item.name for item in model.subjectList"
                               ng-model="model.chooseParams.subjectId"
                       ng-change="events.changeSubject()">
                       </select>
                   </li>
                   <li>
                       <select class="slt slt-small"
                               ng-options="item.optionId as item.name for item in model.yearList"
                               ng-change="events.changeYear()"
                               ng-model="model.chooseParams.trainingYear">
                       </select>
                   </li>-->
            <div hb-authorized-option lock-range="course" query-params="model.query"></div>
            <li>
                <select ng-model="model.chooseParams.supplierId" class="slt slt-medium"
                        ng-init="model.chooseParams.supplierId=''"
                        ng-options="provider.id as provider.name for provider in model.providers"></select>

            </li>

            <!-- <li>
                 <input ng-model="model.chooseParams.name"
                        hb-clear-input type="text"
                        ng-click="events.openKendoWindow('courseWindow')"
                        class="ipt ipt-medium"
                        placeholder="请填写课程名称关键字"/>
             </li>-->


            <li>
                <input kendo-date-picker="node.workBeginTime" k-options="ui.datePicker.begin.options"
                       ng-model="model.chooseParams.startCreateTime" hb-readonly hb-clear-input type="text"
                       class="ipt ipt-s"
                       placeholder="查询日期"/> -
                <input kendo-date-picker="node.workEndTime" k-options="ui.datePicker.end.options"
                       ng-model="model.chooseParams.endCrateTime" hb-readonly hb-clear-input type="text"
                       class="ipt ipt-s"
                       placeholder="查询日期"/>

            </li>
            <li has-permission="permission.selectClass" exp="true">
                <div hb-date-arrange
                     template-url="@systemUrl@/templates/tpls/tpl-date-arrange.html"
                     config="timeConfig"
                     sb-mode="true"
                     start-date="model.chooseParams.startCreateTime"
                     end-date="model.chooseParams.endCrateTime"
                     start-placeholder="选课时间" end-placeholder="选课时间"></div>
            </li>


            <li><a href="javascript:void(0)" ng-click="events.search()" has-permission="courseChooseStatistic/query"
                   class="btn btn-b">查询</a></li>
            <li><a href="javascript:void(0)" ng-click="events.clearUserPageParams()" class="btn btn-b">重置条件</a></li>
            <li>
                <button href="javascript:void(0)" ng-disabled="submitExportOrder===true"
                        has-permission="courseStatistics/export" ng-click="events.exportCourseStatistics()"
                        class="btn btn-b">批量导出
                </button>
            </li>
        </ul>
    </div>
    <div class="tips-box-1 clear">
        <!--        <span class="fl b mr10 ">统计</span>|
                <span class="ml10">科目：<span ng-if="model.subjectId===''">全部</span>
                     <span ng-if="model.subjectId==='5628812b569c57e001569c5a77f6a012'">专业课</span>
                     <span ng-if="model.subjectId==='5628812b569c57e001569c5a77f6a011'" >公需课</span>，
                     <span> 年度：b{{model.trainingYear}}，</span>共b{{model.totalSize}}门课程，
                     累计选课总数量：b{{model.totalCourse}}人。</span>-->
        <span class="fr">单位：人次</span>
        <span summary-desc view-name="OWN_VIEW_NAME"></span>

        <!--        <a href="javascript:void(0)" title="统计口径说明" class="fr a-info mr20"><span class="instructions"></span>统计口径说明</a>-->
    </div>
    <div class="col-body table-box mt20">
        <div kendo-grid="node.courseGrid" k-options="ui.courseGrid.options">
        </div>
    </div>
</div>
<div ui-view></div>


<!--培训班弹窗-->
<!--<div class="dialog w-2" k-options="kendoPlus.windowOptions" kendo-window="courseWindow" style="width:1200px;">
    <div class="dialog-body mt30">
        <div class="dialog-tit">选择班级<a href="javascript:void(0)"
                                       class="ico ico-close"
                                       ng-click="events.closeKendoWindow('courseWindow')"></a></div>
        <div class="dialog-cont">
            <div class="search-bar">
                <ul class="ul-form li-fl clear">
                    <li><input type="text" class="ipt ipt-medium" ng-model="model.lessonPageParams.name"
                               placeholder="请输入课程名称" hb-clear-input
                               ng-keyup="events.search($event)"/>
                    </li>
                    <li>
                        <input type="text" name="type" readonly="true" hb-clear-input class="ipt ipt-medium"
                               ng-click="events.openLessonTypeTree($event)"
                               placeholder="请选择课程分类"
                               ng-model="model.typeName">
                        <div class="hide-block hb-2 mh-1" ng-show="lessonTypeShow" ng-click="events.openTree($event)">
                            <div kendo-tree-view="node.tree"
                                 k-options="ui.tree.options"
                                 k-on-change="model.selectedItem = dataItem">
                    <span k-template ng-click="events.getTypeInfo(dataItem,$event)">
                      <label style="width: 100px;"> <span ng-bind="dataItem.name"></span></label>
                    </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <select class="slt slt-medium" ng-model="model.lessonPageParams.status">
                            <option ng-selected="" value="">课程转换状态</option>
                            <option value="0">转换中</option>
                            <option value="1">转换成功</option>
                            <option value="2">转换失败</option>
                            <option value="3">草稿</option>
                        </select>
                    </li>
                    &lt;!&ndash;      <li>
                              <input kendo-date-picker="node.workBeginTime" k-options="ui.datePicker.begin.options"
                                     ng-model="model.lessonPageParams.startCreateTime" hb-readonly hb-clear-input type="text"
                                     class="ipt ipt-medium"
                                     placeholder="课程创建时间"/> -
                              <input kendo-date-picker="node.workEndTime" k-options="ui.datePicker.end.options"
                                     ng-model="model.lessonPageParams.endCrateTime" hb-readonly hb-clear-input type="text"
                                     class="ipt ipt-s"
                                     placeholder="课程创建时间"/>

                          </li>&ndash;&gt;
                    <li><a href="javascript:void(0)" ng-click="events.searchLesson($event)" class="btn btn-b">搜索</a>
                    </li>
                </ul>
            </div>

            <div class="col-body table-box mt20">
                <div kendo-grid="node.courseGrid1" k-options="ui.courseGrid1.options">
                </div>
            </div>
        </div>
        <div class="btn-center">
            <a href="javascript:void(0)"
               class="btn btn-g ml10"
               ng-click="events.closeKendoWindow('courseWindow')">取消</a>
        </div>
    </div>
</div>-->
