<div class="main-wrap-body" ng-show="$state.current.name === 'states.regionLearning'">
    <div class="search-bar mt10">


        <ul class="ul-form li-fl lh-1 clear" style="display:inline-block">
            <div hb-sku-directive
                 lwhif="!model.query.trainClass"
                 lwhmodel="skuParamsRegionLearning"
                 ng-model="skuParamsRegionLearning"
                 templateurl="@systemUrl@/templates/common/hb-sku-tjtpl.html"></div>
        </ul>

        <div region-report-search
             lwh-sku-model="skuParamsRegionLearning"
             permission="permission"
             grid="model.node.grid"
             model="model.query">
        </div>

    </div>
    <div class="column mt10">
        <div class="tips-box-1 clear">
            <span class="fr">单位：人次</span>
            <span summary-desc view-name="OWN_VIEW_NAME"></span>
        </div>
        <div class="mt10" kendo-grid="model.node.grid" k-options="mainGridOptions">
        </div>
    </div>
</div>
