.ipt, select, textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 7px;
  margin: 0;
  color: #666;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  &:focus {
    outline: none;
  }

  &:disabled {
    color: #999;
  }
}

select {
  padding: 6px 7px;
  color: #999;
}

::-webkit-input-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

:-moz-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

textarea {
  height: 90px;
  resize: none;
}

.textarea-1 {
  height: 60px;
}

.textarea-2 {
  width: 98%;
  height: 50px;
}

.textarea-3 {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
}

.chk, .rad {
  position: relative;
  top: 1px;
  margin: 0 4px 0 0;
  *margin: 0 0 0 -4px;
  &:focus {
    outline: none;
  }
}

/**********  input  ***************/
.ipt-large {
  width: 230px;
}
.ipt-large1 {
  width: 360px;
}

.ipt-medium {
  width: 180px;
}

.ipt-small {
  width: 120px;
}

.ipt-mini {
  width: 80px;
}

.ipt-c-xm {
  width: 40px;
  text-align: center;
}

.table .ipt-c-xm {
  padding: 4px;
}

.ipt-disabled {
  background-color: #eee;
  cursor: default;

  &:focus {
    border: 1px solid #ddd;
  }
}

.ipt-login {
  width: 220px;
  padding-left: 30px;
}

.slt-large {
  width: 246px;
}

.slt-medium {
  width: 196px;
}

.slt-small {
  width: 136px;
}

.slt-mini {
  width: 96px;
}

.slt-login {
  width: 220px;
  padding-left: 30px;
}

label {
  cursor: pointer;
}

