/*-----------  ����Ƶ  ------------*/
.o-v {
  overflow: visible;
}

.wrap-three-screen {
  width: 1200px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -600px;
}

.playpage-left-block {
  height: 100%;
  position: relative;

  .video-block {
    width: 340px;
    height: 260px;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    position: relative;
  }

  .video-info-block {
    width: 350px;
    border: 1px solid #ddd;
    background-color: #fff;
    position: absolute;
    top: 280px;
    left: 0;
    bottom: 0;
  }
  .info-block-tit {
    height: 40px;
    line-height: 40px;
    background-color: #e9e9e9;
    text-align: center;
    font-size: 16px;
  }
  .ul-cont {
    width: 340px;
    overflow: auto;
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    li {
      height: 40px;
      line-height: 40px;
      border-bottom: 1px dashed #ddd;
      a {
        width: 283px;
        color: #666;
        padding: 0 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          color: #3ca2e2;
        }
      }
      .current {
        color: #3ca2e2;
      }
    }
  }
}

.playpage-right-block {
  width: 510px;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ddd;

  .course-cont-block {
    padding: 10px;
  }
}

.prb-1 {
  width: 840px;
}

/*-----------  ����ҳ  ------------*/
.body-bg {
  height: 100%;
  background: url("../../../@systemUrl@/images/wrap-bg.jpg");
  padding: 0;

  .logo {
    width: 1200px;
    margin: 0 auto;
  }

  .outside-box {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 0;
    overflow: auto;
  }
  .main-wrap {
    width: 1200px;
    margin: 0 auto;
    background-color: transparent;
    overflow: hidden;
  }
  .w-1 {
    width: 880px;
  }
  .w-2 {
    width: 284px;
  }

  .h-1 {
    height: 100%;
    overflow: auto;
  }
  .h-2 {
    height: 538px;
    overflow: auto;
  }
  .h-3 {
    height: 496px;
    overflow: auto;
  }

  /*-----------  ����Ƶ  ------------*/
  .wrap-three-screen {
    width: 1200px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -600px;
  }
  .playpage-left-block {
    height: 100%;
    position: relative;

    .video-block {
      width: 340px;
      height: 260px;
      padding: 5px;
      border: 1px solid #ddd;
      background-color: #fff;
      text-align: center;
      position: relative;
    }

    .video-info-block {
      width: 350px;
      border: 1px solid #ddd;
      background-color: #fff;
      position: absolute;
      top: 280px;
      left: 0;
      bottom: 0;
    }
    .info-block-tit {
      height: 40px;
      line-height: 40px;
      background-color: #e9e9e9;
      text-align: center;
      font-size: 16px;
    }
    .ul-cont {
      width: 340px;
      overflow: auto;
      position: absolute;
      top: 40px;
      left: 0;
      bottom: 0;

      li {
        height: 35px;
        line-height: 35px;
        border-bottom: 1px dashed #ddd;

        a {
          width: 280px;
          color: #666;
          padding: 0 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: left;

          &:hover {
            color: #3ca2e2;
          }
        }
        .current {
          color: #3ca2e2;
        }
      }
    }
  }
  .playpage-right-block {
    width: 840px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ddd;

    .course-cont-block {
      padding: 10px;
    }
  }

  .wrap-three-screen-1 {
    height: 100%;
    padding: 10px;
  }
  .playpage-left-block-1 {
    height: 100%;
    position: relative;

    .video-block {
      width: 340px;
      height: 260px;
      padding: 5px;
      border: 1px solid #ddd;
      background-color: #fff;
      text-align: center;
      position: relative;
    }

    .video-info-block {
      width: 350px;
      border: 1px solid #ddd;
      background-color: #fff;
    }

    .info-block-tit {
      height: 40px;
      line-height: 40px;
      background-color: #e9e9e9;
      text-align: center;
      font-size: 16px;
    }

    .ul-cont {
      width: 340px;
      height: 280px;
      overflow: auto;
      li {
        height: 35px;
        line-height: 35px;
        border-bottom: 1px dashed #ddd;
        a {
          color: #666;
          padding: 0 20px;
          overflow: hidden;

          &:hover {
            color: #3ca2e2;
          }
        }
        .current {
          color: #3ca2e2;
        }
      }
    }
  }
  .playpage-right-block-1 {
    width: 820px;
    height: 96%;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  /*-------  ����ҳ  -------*/
  .playpage-header {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    background: url("../../../@systemUrl@/images/playpage-header-bg.png") repeat-x bottom left;
    position: absolute;
    top: 0;
    left: 0;

    img {
      padding-top: 10px;
    }
  }
  .course-tit {
    font-size: 20px;
    font-weight: bold;

    a {
      font-size: 14px;
      font-weight: normal;
      color: #f66985;
      margin-right: 10px;
      position: relative;
      top: -2px;

      .ico {
        width: 19px;
        height: 22px;
        background-position: -160px -240px;
        position: relative;
        top: 6px;
      }
    }
  }
  .video-block, .comments-block, .introduce-block {
    border: 1px solid #ddd;
    background-color: #fff;
  }
  .video-block {
    height: 600px;
    position: relative;
    text-align: center;

    .video {
      width: 100%;
      height: 100%;
    }
    .pw-1 {
      width: 790px;
      margin: 0 auto;
    }
    .video-side {
      height: 100%;
      position: absolute;
      right: -34px;
      top: 0;
      text-align: left;
      z-index: 9999;

      .side-tab {
        width: 33px;
        margin-top: 180px;

        .ico {
          width: 6px;
          height: 12px;
          background-position: -364px -130px;
          display: none;
          position: relative;
          top: 28px;
          left: 5px;
        }
        a {
          width: 33px;
          height: 75px;
          background-color: #3ca2e2;
          color: #fff;
          display: block;
          margin-bottom: 1px;
          float: left;

          &:hover {
            width: 33px;
            .ico {
              display: inline-block;
            }
            .side-tab-tit {
              margin-left: 5px;
            }
          }

          .side-tab-tit {
            width: 13px;
            float: left;
            line-height: 1.2;
            margin-top: 6px;
            margin-left: 10px;
            display: block;
          }
        }
        .current {
          width: 33px;
          .ico {
            display: inline-block;
            background-position: -363px -145px;
          }
          .side-tab-tit {
            margin-left: 5px;
          }
        }

      }

      .side-cont {
        height: 100%;
        border-left: 1px solid #ddd;
      }
    }
    .course-directory, .course-cont {
      width: 240px;
      height: 100%;
      background-color: #fff;
      padding: 10px;
    }

    .course-cont {
      width: 750px;
    }
    .side-cont-tit {
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 16px;
      background-color: #d8ecf9;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
    }
  }

  .ul-tree {
    .item-name {
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      border-bottom: 1px solid #eee;
      &:hover {
        background-color: #f2f2f2;
      }
    }
    .ico {
      width: 12px;
      height: 12px;
      position: relative;
    }
    .ico-open {
      background-position: -70px -110px;
      top: 4px;
    }
    .ico-close {
      background-position: -110px -110px;
      top: 1px;
    }
    .sub-item {
      li {
        line-height: 35px;
        border-bottom: 1px dashed #eee;

        &:last-child {
          border-bottom: 1px solid #ddd;
        }

        a {
          color: #666;
          padding-left: 20px;

          &:hover {
            color: #3ca2e2;
          }
        }
        .current {
          color: #3ca2e2;
        }
      }

      .gray-t {
        a {
          color: #999;
        }
        .current {
          color: #3ca2e2;
        }
      }
    }
  }

  .comments-block {
    height: 800px;
    padding: 10px;

    .comment {
      position: relative;
      padding-top: 10px;
      border-bottom: 1px dashed #ddd;

      .img-user {
        position: absolute;

        img {
          width: 60px;
          height: 60px;
        }
      }
      .img-mask {
        position: absolute;
        top: 0;
        left: 0;
      }
      .com-txt {
        margin-left: 80px;
        padding-bottom: 10px;
        position: relative;

        .tit {
          font-weight: bold;
          padding: 5px 0;
        }
        .cont {
          min-height: 30px;
        }
      }
    }
    .more {
      text-align: center;
      a {
        line-height: 30px;
        color: #333;

        &:hover {
          color: #3ca2e2;
        }
      }
    }
  }
  .introduce-block {
    height: 180px;
    padding: 10px;
    position: relative;

    .intr-top {
      border-bottom: 1px dashed #ddd;
      position: relative;
    }
    .intr-tit {
      font-size: 16px;
    }
    .intr-info {
      color: #999;
      margin: 10px 0;

      .ico {
        width: 14px;
        height: 14px;
        margin-right: 3px;
        position: relative;
        top: 1px;
      }
      .ico-1 {
        background-position: -420px -80px;
      }
      .ico-2 {
        background-position: -440px -80px;
      }
      .ico-3 {
        background-position: -460px -80px;
      }
    }
    .intr-like {
      position: absolute;
      right: 0;
      top: 10px;
      color: #999;

      button {
        margin-right: 10px;
        &:hover {
          color: #bbb;
        }
      }

      .ico {
        width: 20px;
        height: 23px;
        position: relative;
        top: 6px;
        margin-right: 3px;
      }
      .ico-like {
        background-position: -530px -80px;
        &:hover {
          background-position: -580px -80px;
        }
      }
      .ico-unlike {
        background-position: -555px -80px;
        &:hover {
          background-position: -605px -80px;
        }
      }
      .current {
        color: #f66985;
        &:hover {
          color: #f66985;
        }

        .ico-like {
          background-position: -480px -80px;
          &:hover {
            background-position: -480px -80px;
          }
        }
        .ico-unlike {
          background-position: -505px -80px;
          &:hover {
            background-position: -505px -80px;
          }
        }
      }

    }

    .intr-like-1 {
      position: absolute;
      right: 0;
      top: 10px;
      color: #999;

      .ico {
        width: 20px;
        height: 23px;
        position: relative;
        top: 6px;
        margin-right: 3px;
      }
      .ico-like {
        background-position: -530px -80px;
      }
      .ico-unlike {
        background-position: -555px -80px;
      }
      .current {
        color: #f66985;

        .ico-like {
          background-position: -480px -80px;
        }
      }

      .view-ico {
        margin-right: 10px;
      }
    }

    .intr-cont {
      width: 858px;
      height: 85px;
      overflow: auto;
      margin: 10px 0;
      text-indent: 2em;
    }
    .ic-1 {
      width: auto;
    }
  }
  .btn {
    .ico {
      width: 14px;
      height: 14px;
      position: relative;
      top: 2px;
    }
    .ico-add {
      background-position: -70px -40px;
    }
    .ico-cancel {
      background-position: -70px -54px;
    }
  }
  .comments-box {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;

    .txt-g {
      font-size: 12px;
      line-height: 30px;
    }

  }
  .head-cont {
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    .col-1, .col-2, .col-3 {
      padding: 0 10px;
      text-align: center;
    }
    .col-2 {
      text-align: left;
    }
  }
  .ul-course-cont {
    .course-cont-tit {
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #f9f9f9;
      border-bottom: 1px solid #eee;
    }
    .col-1 {
      width: 500px;
    }
    .col-2 {
      width: 100px;
    }
    .col-1, .col-2, .col-3 {
      padding: 0 10px;
    }
  }
  .ul-sub-cont {
    li {
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #eee;

      a {
        color: #3ca2e2;
        &:hover {
          color: #2386c4;
        }
      }
    }
    .current {
      color: #3ca2e2;
    }
  }
  .form-control {
    display: block;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    margin-bottom: 10px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.colhead {
  height: 40px;
  background-color: #ddd;
}

.signer-tit2 {
  line-height: 40px;
  font-weight: bold;
  font-size: 16px;
  color: #323433;
  text-align: center;
}

.posrel {
  position: relative;
}

.video-list .ico {
  display: inline-block;
  background: url("../../../@systemUrl@/images/ico-main.png") no-repeat;
  vertical-align: middle;
}

.passage-tree-li a {
  display: inline-block;
  color: #666;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.signer-content {
  padding: 0px 12px;
  height: 320px;
  overflow: auto;
  overflow-x: hidden;
}

.passage-tree-first {
  margin: 5px 0px 0px 7px;
  display: none;
}

.passage-tree-first .tree-first-li {
  position: relative;
}

.passage-tree-first .tree-first-li i.ico {
  position: absolute;
  right: 0px;
  top: 7px;
  background-position: -319px -206px;
  width: 15px;
  height: 10px;
}

.passage-tree-first a {
  color: #666;
  font-size: 13px;
}

.passage-tree-first a:hover {
  color: #3ca2e2;
}

.passage-tree-first li {
  margin-bottom: 5px;
}

.passage-tree-first .tree-first-li {
  height: 30px;
}

.passage-tree-li a:hover {
  color: #3ca2e2;
}

.passage-tree-second {
  margin: 5px 0px 0px 7px;
  padding: 6px 0px;
  display: none;
}

.passage-tree-second a {
  font-size: 13px;
}

.passage-tree-second a:hover {
  color: #3ca2e2;
}

.passage-list .passage-tree-li {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.passage-list .passage-tree-li i {
  position: absolute;
  right: 0px;
  top: 28px;
  background-position: -319px -206px;
  width: 15px;
  height: 10px;
}

.passage-list a {
  color: #385ada;
}

.video-list .passage-list .passage-tree-li.hover a, .video-list .passage-list .tree-first-li.hover a {
  color: #3ca2e2;
}

.video-list .passage-list .passage-tree-li.hover i, .video-list .passage-list .tree-first-li.hover i {
  background-position: -296px -206px;
}
