<div class="footer">
    <div class="footer-bd">
        <p><a href="#" ui-sref="states.accountant.concatUs">关于我们</a> | <a href="#" ui-sref="states.accountant.teleUs">联系我们</a>
            | <a href="#" ui-sref="states.accountant.helpCenter">帮助中心</a> | <a href="#"
                                                                               ui-sref="states.accountant.onTraining">在线购课</a>
        </p>
        <p>Copyright 2016 ©福建华博教育科技股份有限公司 <a style="margin-left:10px;" href="http://www.miibeian.gov.cn/" target="_blank">闽 ICP 备08103886号</a></p>
        <p>技术支撑：福建华博教育科技股份有限公司</p>
    </div>
</div>
