<div class="p-wrap-full m-content clear">

    <div class="m-right-block w-full">
        <div class="right-block-bd">

            <div class="m-order-process-1">
                <div class="process-line"><span class="current" style="width: 100%;"></span></div>
                <ul class="process-bd clear">
                    <li class="li-ed">
                        <span class="p-ico">1</span>
                        <p>我的购物车</p>
                    </li>
                    <li class="li-ed">
                        <span class="p-ico">2</span>
                        <p>核对订单信息</p>
                    </li>
                    <li class="li-ed">
                        <span class="p-ico">3</span>
                        <p>付款</p>
                    </li>
                    <li class="li-ed">
                        <span class="p-ico">4</span>
                        <p>支付成功</p>
                    </li>
                </ul>
            </div>
            <div class="m-order-info plr20 rel">
                <div class="fs15 lh30 mt20">订单号：b{{model.orderNo}}</div>
                <div class="tit-block-1 mt30">课程信息</div>
                <div class="order-info-bd">
                    <table class="ui-table table-line mt10 lwh-th">
                        <thead>
                        <tr>
                            <th class="tl">课程名称</th>
                            <th width="150">学时</th>
                            <th width="300">属性</th>
                            <th width="150">价格(元)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in model.courseList">
                            <td class="tl" ng-bind="item.name"></td>
                            <td ng-bind="item.hour"></td>
                            <td>
                                <div ng-repeat="subItem in item.skuPropertyNameList">
                                    <span ng-bind="subItem.skuPropertyName"></span>:
                                    <span ng-bind="subItem.skuPropertyValueName"></span>
                                </div>
                            </td>
                            <td class="txt-r" ng-bind="item.dealPrice"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tit-block-1 mt30">支付方式</div>
                <ul class="pay-style clear mb10">
                    <li style="height:59px;" class="current">
                        <label class="ui-label" style="cursor: default">

                            <a href="javascript:void(0)"></a>
                            <span class="ipt-txt"><img ng-src="b{{model.orderDetail.merchantAccount.logoPath}}" alt=""></span>
                        </label>
                        <span class="p-ico"></span>
                    </li>
                </ul>
                <div class="fs18 b txt-g mt30">订单总金额：<span class="txt-r">￥b{{model.total}}</span></div>
                <div class="tit-block-1 mt30">支付结果</div>
                <ul class="pay-style clear mb20">
                    <li class="current tc fs18 b txt-green lh55">
                        <span class="succes-ico"></span>支付成功
                    </li>
                </ul>
                <div class="m-sum-bar-1 m-screen mt10 clear">
                    <div class="fr">
                        <input type="button"
                               ng-click="$state.go('states.myOrder.detail',{orderNo:model.orderNo})"
                               style="height:40px;line-height:40px;"
                               class="ui-btn btn-gr"
                               value="查看订单详情"><input type="button"
                                                     ng-click="$state.go('states.home')"
                                                     style="height:40px;line-height:40px;"
                                                     class="ui-btn btn-o ml10"
                                                     value="返回学习中心">
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>