<div class="h-1" style="height:200px;">
    <ul class="ul-form lh-1 ml10 clear">
        <textarea cols="35" style="height: 60px" placeholder="请输入关闭说明，不为空" ng-model="model.reason"></textarea></li>
        <li style="left: 80px">
            <a href="javascript:void (0);"
               ng-click="events.detailWithRemark($index)"
               class="btn btn-b">确定</a>
            <a href="javascript:void (0);" ng-click="dialog.cancel($index)" class="btn btn-g ml5">取消</a>
        </li>
    </ul>
</div>
