<div class="main-wrap-body" ng-show="$state.current.name === 'states.certifiedTemplate'">
    <div class="main-wrap-body1">
        <div class="tab-tit mt10">
            <a  ng-class="{current: model.dimension == 1}" ng-click="events.toggleDimension($event, 1)"
                href="#">本单位</a>
            <a class="" ng-if="events.isSubProjectManager()" ng-class="{current: model.dimension == 2}" ng-click="events.toggleDimension($event, 2)" href="#">项目级</a>
        </div>
    </div>
    <div class="main-wrap-body" ng-show="model.dimension == 1" class="column">
    <div class="col-tit">系统当前已配置<i style="color: #ff6666;">b{{model.certifiedTemplate.length}}</i>个培训证明模板</div>
    <div class="col-body table-box mt20">
        <table>
            <tr>
                <th style="width: 20px;">No.</th>
                <th style="width: 100px;">模板名称</th>
                <th style="width: 100px;">模板说明</th>
                <th style="width: 100px;">使用范围</th>
                <th style="width: 100px;">适用培训方案形式</th>
                <th style="width: 100px;">是否合并打印</th>
                <th style="width: 60px;">创建时间</th>
                <th style="width: 60px;">操作</th>
            </tr>
            <tbody>
            <tr ng-repeat="temp in model.certifiedTemplate">
                <td>b{{$index + 1}}</td>
                <td>b{{temp.name}}</td>
                <td>b{{temp.intro}}</td>
                <td>b{{temp.unitName}}</td>
                <td>b{{temp.type=="course"?"自主选课学习":temp.type=="class"?"培训班学习":"培训班学习、自主选课学习"}}</td>
                <td>b{{temp.printTogether=="true"?"是":"否"}}</td>
                <td>b{{temp.createTime}}</td>
                <td>
                    <button class="table-btn" has-permission="trainingCertificate/preview"
                            ng-click="events.preview(temp.id)">预览
                    </button>
                    <button class="table-btn" has-permission="trainingCertificate/download"
                            ng-click="events.download(temp.id)">下载
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        </div>
    <div class="main-wrap-body" ng-show="model.dimension == 2" class="column">
        <div class="search-bar">
            <ul class="ul-form li-fl clear">
                <li><div hb-unit-select unit-id="model.createUnitId" default-unit-id="b{{model.unitId}}"
                         default-choose="true"  default-txt="请选择创建单位" ng-if="events.isSubProjectManager()"></div>
                </li>
                <li><a href="javascript:void(0)" has-permission="administratorManage/detail"
                       ng-click="events.searchTemplate($event)" class="btn btn-b">查询</a></li>
            </ul>
        </div>
        <div class="col-tit">系统当前已配置<i style="color: #ff6666;">b{{model.allCertifiedTemplate.length}}</i>个培训证明模板</div>
        <div class="col-body table-box mt20">
            <table>
                <tr>
                    <th style="width: 20px;">No.</th>
                    <th style="width: 100px;">模板名称</th>
                    <th style="width: 100px;">模板说明</th>
                    <th style="width: 100px;">使用范围</th>
                    <th style="width: 100px;">适用培训方案形式</th>
                    <th style="width: 100px;">是否合并打印</th>
                    <th style="width: 60px;">创建时间</th>
                    <th style="width: 60px;">操作</th>
                </tr>
                <tbody>
                <tr ng-repeat="temp in model.allCertifiedTemplate">
                    <td>b{{$index + 1}}</td>
                    <td>b{{temp.name}}</td>
                    <td>b{{temp.intro}}</td>
                    <td>b{{temp.unitName}}</td>
                    <td>b{{temp.type=="course"?"自主选课学习":temp.type=="class"?"培训班学习":"培训班学习、自主选课学习"}}</td>
                    <td>b{{temp.printTogether=="true"?"是":"否"}}</td>
                    <td>b{{temp.createTime}}</td>
                    <td>
                        <button class="table-btn" has-permission="trainingCertificate/preview"
                                ng-click="events.preview(temp.id)">预览
                        </button>
                        <button class="table-btn" has-permission="trainingCertificate/download"
                                ng-click="events.download(temp.id)">下载
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>