<div class="tips-box-1 clear">
    <span class="t-r">学习明细统计查询截止至前一个自然日的培训数据！ 列表数据按开通时间倒序排。</span>
</div>
<p class="mt10">
    <span class="fs16 b">1.搜索条件的字段及详细说明</span>（以下各搜索条件若都填写相关数据，则查询的是满足这几项搜索条件的数据才会查出来，即是且的关系）
</p>
<table class="table table-3 table-nf mt10">
    <thead>
    <tr>
        <th width="150">搜索字段</th>
        <th>具体字段说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>姓名</td>
        <td class="tl">
            输入要查找的学员姓名
        </td>
    </tr>
    <tr>
        <td>身份证</td>
        <td class="tl">
            输入要查找的学员身份证
        </td>
    </tr>
    <tr>
        <td>继续教育年度</td>
        <td class="tl">
            选择要查找的培训班级对应的继续教育年度
        </td>
    </tr>
    <tr>
        <td>培训类别</td>
        <td class="tl">
            选择要查找的培训班级对应的类别
        </td>
    </tr>
    <tr>
        <td>培训班</td>
        <td class="tl">
            选择要查找到培训班名称
        </td>
    </tr>
    <tr>
        <td>学习进度</td>
        <td class="tl">
            选择要查找的符合相应学习进度的信息，包含：全部、未学习、学习中、已学完
        </td>
    </tr>
    <tr>
        <td>考核结果</td>
        <td class="tl">
            选择要查找的符合相应考核结果的信息，包含：全部、未通过、已通过
        </td>
    </tr>
    <tr>
        <td>开通日期</td>
        <td class="tl">
            选择培训班级开通日期时段，暂支持查询到截止一个自然日的数据
        </td>
    </tr>
    </tbody>
</table>
<p class="mt10">
    <span class="fs16 b">2.列表字段及详细说明</span>（列表下的数据显示受搜索条件的约束，统计单位：人次）
</p>
<table class="table table-3 table-nf mt10">
    <thead>
    <tr>
        <th width="150">列表字段</th>
        <th>具体字段说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>学员信息</td>
        <td class="tl">
            显示学员姓名及身份证
        </td>
    </tr>
    <tr>
        <td>单位名称</td>
        <td class="tl">
            显示学员所在单位名称
        </td>
    </tr>
    <tr>
        <td>类别</td>
        <td class="tl">
            显示学员所报考的培训班类别
        </td>
    </tr>
    <tr>
        <td>培训班</td>
        <td class="tl">
            显示学员所报考的培训班名称
        </td>
    </tr>
    <tr>
        <td>开通时间</td>
        <td class="tl">
            显示培训班开通时间
        </td>
    </tr>
    <tr>
        <td>学习进度</td>
        <td class="tl">
            显示培训班学习进度
        </td>
    </tr>
    <tr>
        <td>成绩（分）</td>
        <td class="tl">
            显示培训班考试成绩
        </td>
    </tr>
    <tr>
        <td>考核结果</td>
        <td class="tl">
            显示培训班考核结果，包含：未通过、已通过
        </td>
    </tr>
    </tbody>
</table>