<div class="dialog-box">
    <div class="dialog-bd">确认全部清除失效商品吗？</div>
    <div class="dialog-ft">
        <button
                ng-click="events.confirmCleanDisable()"
                ng-disabled="cleanSubmitAble==true"
                style="padding:8px 25px;"
                class="ui-btn btn-o">确定
        </button>
        <button class="ui-btn btn-g ml10"
                style="padding:8px 25px;"
                i="close"
                class="btn-gray btn ml10">关闭
        </button>
    </div>
</div>