<!--<div class="m-dialog" >
    <div class="dialog-bd">
        <h1 class="tc">通知</h1>
        <p class="t-r fs20 mt30">尊敬的学员：</p>
        <p class="t-r fs20 ti mt10" ng-bind-html="model.dialogContent.content | trustHtml"></p>
    </div>
    <div class="dialog-ft mt50 tc">
        <div style="padding-bottom: 10px;position: relative">
            <input type="checkbox"
                   style="margin: -1.5% 43%" ng-model="model.dialogNextShow">
            <span style="font-size: 14px">下次不再提示</span>
        </div>
        <a i="close" href="javascript:void (0);"
        class="btn-normal btn" ng-click="events.closeDialogNotice()">关闭</a>
    </div>
</div>-->


<div class="m-dialog ">
    <div class="dialog-box" style="width:auto">
        <div class="dialog-hd clear"><span class="title fl">欢迎访问专业技术人员继续教育培训平台</span><a i="close" href="javascript:void(0)" class="p-ico close"></a></div>
        <div class="dialog-bd">
            <div class="tc fs20 b">
                通知
            </div>
            <div class="fs16 mt10">
                <!--尊敬的学员：<br/>-->
                <p ng-bind-html="model.dialogContent.content | trustHtml"></p>
            </div>
        </div>
        <div class="dialog-bottom tc rel clear">
            <label class="check-box" style="display:block">
                <input type="checkbox"
                       style="position:inherit;vertical-align:-4px;"
                       class="checkbox" ng-model="model.dialogNextShow" checked="">
                <a href="javascript:void(0)"></a>
                <span class="ipt-txt">下次不再提示</span>
            </label>
            <a i="close" style="display:block" href="javascript:void (0);" ng-click="events.closeDialogNotice()" class="btn-normal btn">关闭</a>
        </div>

    </div>
</div>
</div>