<div class="sidebar-panel">
    <!--<a href="#" class="sidebar-items">-->
    <!--<div class="items-bd">-->
    <!--<span class="ico ico-top"></span>-->
    <!--</div>-->
    <!--</a>-->
    <div class="sidebar-items">
        <div class="items-bd">
            <span class="ico ico-xcx"></span>
            <p>小程序</p>
        </div>
        <div class="items-hover">
            <img class="qr-code-img" src="@systemUrl@/images/xcx.jpg" alt=" ">
            <p class="tc mt5">扫我，步入指尖学习</p>
        </div>
    </div>
    <div class="sidebar-items">
        <div onclick="window.open('https://kccs.59iedu.com/app/download.html')" class="items-bd">
            <span class="ico ico-khd"></span>
            <p>客户端</p>
        </div>
        <div class="items-hover">
            <img class="qr-code-img" src="@systemUrl@/images/qrcode.png" alt=" ">
            <p class="tc mt5">扫我，下载客户端</p>
        </div>
    </div>
    <div class="sidebar-items">
        <div class="items-bd">
            <span class="ico ico-fwrx"></span>
            <p>客服热线</p>
        </div>
        <div class="items-hover">
            <div class="tc fs18">客服热线<p class="t-b">968823</p></div>
        </div>
    </div>
</div>

