<!-- 修改密码保护 -->
<div class="safe-form-box no-bor mt50">
    <p class="mt20 ml50">修改前，请先验证先前所设问题的答案</p>
    <ul class="m-form-1 mt20 pl30">
        <li>
            <span class="left-txt b">问题一</span>
            <span ng-bind="model.safeProblem[0].title"></span>
        </li>
        <li>
            <span class="left-txt b">答案</span>
            <input type="text" ng-model="model.changeAnswerOne" class="ui-ipt ipt-l">
        </li>
        <li>
            <span class="left-txt b">问题二</span>
            <span ng-bind="model.safeProblem[1].title"></span>
        </li>
        <li>
            <span class="left-txt b">答案</span>
            <input type="text" ng-model="model.changeAnswerTwo" class="ui-ipt ipt-l">
        </li>
        <li class="mt20">
            <span class="left-txt"></span>
            <button href="javascript:void (0);"
                    ng-disabled="!model.changeAnswerTwo || !model.changeAnswerOne"
                    ng-click="events.changeAnswer($event)"
                    class="btn-m">验 证
            </button>
        </li>
    </ul>
</div>