<div style="position:fixed;left:50%;top:40%;z-index:99999999999" ng-if="model.gridPending">
    <img src="@systemUrl@/images/loading.gif"/>
</div>
<div class="main-wrap-body">
    <div class="search-bar">
        <ul class="ul-form li-fl lh-1 clear">
            <li><input type="text"
                       hb-clear-input
                       class="ipt ipt-medium"
                       ng-model="model.userInformation.name"
                       ng-keyup="$event.keyCode==13?events.MainPageQueryList($event):''"
                       placeholder="姓名"/></li>
            <li><input type="text"
                       hb-clear-input
                       ng-model="model.userInformation.identify"
                       ng-keyup="$event.keyCode==13?events.MainPageQueryList($event):''"
                       class="ipt ipt-medium"
                       placeholder="身份证号"/></li>
            <li><input type="text"
                       hb-clear-input
                       ng-model="model.userInformation.loginInput"
                       ng-keyup="$event.keyCode==13?events.MainPageQueryList($event):''"
                       class="ipt ipt-medium"
                       placeholder="订单号"/></li>
            <li>
                <a href="javascript:void (0);"
                   has-permission="classInformation/searchUse"
                   ng-click="events.MainPageQueryList($event)"
                   class="btn btn-b">查询</a>
            </li>
        </ul>
        <span>温馨提示：以上查询条件为并列关系，各搜索项独立查，建议根据查询需要输入相关信息进行搜索！</span>
    </div>
    <div class="column mt10" ng-if="model.noUserInformation">
        <div class="no-data w-4 pt20 pb20 clear">
            <div class="p-img"><img src="@systemUrl@/images/empty.png"></div>
            <div class="p-txt">请先输入相关信息进行搜索！</div>
        </div>
    </div>
    <div class="column mt10" ng-show="!model.noUserInformation">
        <div kendo-grid="node.user" k-options="ui.user.options"></div>
    </div>
    <div class="column" ng-show="model.classTab === 1">
        <div class="tab-tit mt20">
            <a href="javascript:void (0);"
               has-permission="classInformation/userInfo"
               ng-class="{'current':model.classTab === 1,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(1)">用户信息</a>
            <a href="javascript:void (0);"
               ng-class="{'current':model.classTab === 0,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(0)">学习内容</a>
            <a href="javascript:void (0);"
               has-permission="classInformation/changeRecord"
               ng-class="{'current':model.classTab === 7,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(7)">换班记录</a>
            <a href="javascript:void (0);" has-permission="classInformation/changeCourseRecord"
               ng-class="{'current':model.classTab === 10,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(10)">换课记录</a>
            <a href="javascript:void (0);"
               has-permission="classInformation/orderInfo"
               ng-class="{'current':model.classTab === 2,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(2)">订单信息</a>

            <a href="javascript:void (0);"
               has-permission="classInformation/invoiceInfo"
               ng-class="{'current':model.classTab === 3,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(3)">发票信息</a>

            <a href="javascript:void (0);"
               has-permission="classInformation/learningProcess"
               ng-class="{'current':model.classTab === 4,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(4)">学习历程</a>
            <a href="javascript:void (0);"
               has-permission="classInformation/distributionQuery"
               ng-class="{'current':model.classTab === 8,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(8)">配送查询</a>
            <!-- <a href="javascript:void (0);"
                has-permission="classInformation/questionAsk"
                ng-class="{'current':model.classTab === 5,'kGLoading':!model.noUserInformation&&model.mark===false}"
                ng-click="events.clickTab(5)">问题咨询</a>
             <a href="javascript:void (0);"
                has-permission="classInformation/ueserSay"
                ng-class="{'current':model.classTab === 6,'kGLoading':!model.noUserInformation&&model.mark===false}"
                ng-click="events.clickTab(6)">用户留言</a>-->
            <a href="javascript:void (0);"
               has-permission="classInformation/refundOrder"
               ng-class="{'current':model.classTab === 9,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(9)">退款订单</a>

        </div>

        <!--用户信息-->
        <div class="tab-bd clear" ng-if="model.noUserInformation">
            <div class="no-data w-4 pt20 pb20 clear">
                <div class="p-img"><img src="@systemUrl@/images/empty.png"></div>
                <div class="p-txt">请先输入相关信息进行搜索！</div>
            </div>
        </div>
        <div class="tab-bd clear" ng-if="!model.noUserInformation">
            <div class="col-tit">基本资料</div>
            <div class="dash-line-1"></div>
            <form name="stepTwoForm">
                <ul class="ul-d-form udf-15 li-fl pt10 clear">
                    <li ng-if="model.editUser.nameEdit">
                        <span class="left-txt">姓名：</span>
                        <input type="text"
                               ng-required="true"
                               ng-model="model.editUser.name"
                               class="ipt">
                        <a href="javascript:void(0);"
                           ng-click="events.sureEdit($event,0,model.editUser.name)"
                           class="ico-op ico-complete-hl"></a>
                        <a href="javascript:void(0);"
                           ng-click="model.editUser.nameEdit = false"
                           class="ico-op ico-del-hl"></a>
                    </li>
                    <li ng-if="!model.editUser.nameEdit">
                        <span class="left-txt">姓名：</span>
                        <span ng-bind="model.chooseInformation.name"></span>
                        <a href="javascript:void(0);"
                           has-permission="classInformation/changeUseInfo"
                           ng-click="events.editUser($event,0)"
                           class="ico-op ico-edit mr5"></a>
                    </li>

                    <li><span class="left-txt">身份证号：</span><span ng-bind="model.chooseInformation.identify"></span></li>


                    <li ng-if="model.editUser.genderEdit">
                        <span class="left-txt">性别：</span>
                        <label>男 <input type="radio"
                                        ng-checked="model.chooseInformation.sex===1"
                                        ng-click="model.chooseInformation.sex=1"
                                        class="ipt"></label>
                        <label>女
                            <input type="radio"
                                   ng-checked="model.chooseInformation.sex===2"
                                   ng-click="model.chooseInformation.sex=2"
                                   class="ipt"></label>
                        <a href="javascript:void(0);"
                           ng-click="events.sureEdit($event,11,model.editUser.gender)"
                           class="ico-op ico-complete-hl"></a>
                        <a href="javascript:void(0);"
                           ng-click="model.editUser.genderEdit = false"
                           class="ico-op ico-del-hl"></a>
                    </li>
                    <li ng-if="!model.editUser.genderEdit">
                        <span class="left-txt">性别：</span>
                        <span ng-bind="model.chooseInformation.gender"></span>
                        <a href="javascript:void(0);"
                           has-permission="classInformation/changeUseInfo"
                           ng-click="events.editUser($event,11)"
                           class="ico-op ico-edit mr5"></a>
                    </li>

                    <!-- <li ng-if="model.editUser.emailEdit">
                         <span class="left-txt">电子邮箱：</span>
                         <input type="email"
                                ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/"
                                required
                                name="email"
                                placeholder="请填写邮箱"
                                ng-model="model.editUser.email"
                                class="ipt">
                         <a href="javascript:void(0);"
                            ng-click="events.sureEdit($event,2,model.editUser.email)"
                            class="ico-op ico-complete-hl"></a>
                         <a href="javascript:void(0);"
                            ng-click="model.editUser.emailEdit = false"
                            class="ico-op ico-del-hl"></a>
                     </li>
                     <li ng-if="!model.editUser.emailEdit">
                         <span class="left-txt">电子邮箱：</span>
                         <span ng-bind="model.chooseInformation.email"></span>
                         <a href="javascript:void(0);"
                            has-permission="classInformation/changeUseInfo"
                            ng-click="events.editUser($event,2)"
                            class="ico-op ico-edit mr5"></a>
                     </li>-->
                    <!--联系地址-->
                    <!--    <li ng-if="model.editUser.addressEdit">
                            <span class="left-txt">通讯地址：</span>
                            <input type="text"
                                   ng-model="model.editUser.address"
                                   class="ipt">
                            <a href="javascript:void(0);"
                               ng-click="events.sureEdit($event,3,model.editUser.address)"
                               class="ico-op ico-complete-hl"></a>
                            <a href="javascript:void(0);"
                               ng-click="model.editUser.addressEdit = false"
                               class="ico-op ico-del-hl"></a>
                        </li>
                        <li ng-if="!model.editUser.addressEdit">
                            <span class="left-txt">通讯地址：</span>
                            <span ng-bind="model.chooseInformation.address"></span>
                            <a href="javascript:void(0);"
                               has-permission="classInformation/changeUseInfo"
                               ng-click="events.editUser($event,3)"
                               class="ico-op ico-edit mr5"></a>
                        </li>-->
                    <li ng-if="model.editUser.unitNameEdit">
                        <span class="left-txt">工作单位：</span>
                        <input type="text"
                               ng-model="model.editUser.unit"
                               class="ipt">
                        <a href="javascript:void(0);"
                           ng-click="events.sureEdit($event,5,model.editUser.unit)"
                           class="ico-op ico-complete-hl"></a>
                        <a href="javascript:void(0);"
                           ng-click="model.editUser.unitNameEdit = false"
                           class="ico-op ico-del-hl"></a>
                    </li>
                    <li ng-if="!model.editUser.unitNameEdit">
                        <span class="left-txt">工作单位：</span>
                        <span ng-bind="model.chooseInformation.unitName"></span>
                        <a href="javascript:void(0);"
                           has-permission="classInformation/changeUseInfo"
                           ng-click="events.editUser($event,5)"
                           class="ico-op ico-edit mr5"></a>
                    </li>


                    <!--    <li ng-if="model.editUser.certificateNumberEdit">
                            <span class="left-txt">继续教育证书编号：</span>
                            <input type="text"
                                   class="ipt"
                                   ng-model="model.editUser.certificateNumber">
                            <a href="javascript:void(0);"
                               ng-click="events.sureEdit($event,7,model.editUser.certificateNumber)"
                               class="ico-op ico-complete-hl"></a>
                            <a href="javascript:void(0);"
                               ng-click="model.editUser.certificateNumberEdit = false"
                               class="ico-op ico-del-hl"></a>
                        </li>
                        <li ng-if="!model.editUser.certificateNumberEdit">
                            <span class="left-txt">继续教育证书编号：</span>
                            <span ng-bind="model.chooseInformation.certificateNumber"></span>
                            <a href="javascript:void(0);"
                               has-permission="classInformation/changeUseInfo"
                               ng-click="events.editUser($event,7)"
                               class="ico-op ico-edit mr5"></a>
                        </li>-->

                    <!--手机号码-->
                    <li ng-if="model.editUser.phoneNumberEdit">
                        <span class="left-txt">手机号码：</span>
                        <input type="text"
                               class="ipt"
                               ng-required="true"
                               name="phoneNumber"
                               ng-pattern="/^[\d]{11}$/"
                               ng-model="model.editUser.phone">
                        <a href="javascript:void(0);"
                           ng-click="events.sureEdit($event,1,model.editUser.phone)"
                           class="ico-op ico-complete-hl"></a>
                        <a href="javascript:void(0);"
                           ng-click="model.editUser.phoneNumberEdit = false"
                           class="ico-op ico-del-hl"></a>
                    </li>
                    <li ng-if="!model.editUser.phoneNumberEdit">
                        <span class="left-txt">手机号码：</span>
                        <span ng-bind="model.chooseInformation.phoneNumber"></span>
                        <a href="javascript:void(0);"
                           has-permission="classInformation/changeUseInfo"
                           ng-click="events.editUser($event,1)"
                           class="ico-op ico-edit mr5"></a>
                    </li>
                    <li>
                        <span class="left-txt">注册来源单位：</span>
                        <span ng-bind="model.chooseInformation.registerUnit"></span>
                    </li>
                       <!--&lt;!&ndash;<li ng-if="model.editUser.jobEdit">&ndash;&gt;-->
                           <!--<span class="left-txt">专业技术岗位：</span>-->
                           <!--<input type="text"-->
                                  <!--ng-model="model.editUser.job"-->
                                  <!--class="ipt">-->
                           <!--<a href="javascript:void(0);"-->
                              <!--ng-click="events.sureEdit($event,9,model.editUser.job)"-->
                              <!--class="ico-op ico-complete-hl"></a>-->
                           <!--<a href="javascript:void(0);"-->
                              <!--ng-click="model.editUser.jobEdit = false"-->
                              <!--class="ico-op ico-del-hl"></a>-->
                       <!--</li>&ndash;&gt;-->

                    <!--  <li ng-if="!model.editUser.jobGradeEdit">
                          <span class="left-txt">专业技术职务：</span>
                          <span ng-bind="model.chooseInformation.jobGrade"></span>
                          <a href="javascript:void(0);"
                             has-permission="classInformation/changeUseInfo"
                             ng-click="events.editUser($event,8)"
                             class="ico-op ico-edit mr5"></a>
                      </li>
                      <li ng-if="model.editUser.jobGradeEdit">
                          <span class="left-txt">专业技术职务：</span>
                          <input type="text"
                                 ng-model="model.editUser.jobGrade"
                                 class="ipt">
                          <a href="javascript:void(0);"
                             ng-click="events.sureEdit($event,8,model.editUser.jobGrade)"
                             class="ico-op ico-complete-hl"></a>
                          <a href="javascript:void(0);"
                             ng-click="model.editUser.jobGradeEdit = false"
                             class="ico-op ico-del-hl"></a>
                      </li>-->
                    <!--学历-->
                    <!--      <li ng-if="model.editUser.highestEducationEdit">
                              <span class="left-txt">学历：</span>
                             &lt;!&ndash; <input type="text"
                                     ng-model="model.editUser.highestEducation"
                                     class="ipt">&ndash;&gt;
                              <select class="ui-slt iptform"
                                      ng-required="true"
                                      validate-education
                                      education-model="model.editUser.highestEducation"
                                      name="highestEducation"
                                      ng-model="model.editUser.highestEducation"
                                      ng-options="item.optionId as item.name for item in model.highestEducationList"
                              >
                                  <option value="">请选择学历</option>
                              </select>
                              <a href="javascript:void(0);"
                                 ng-click="events.sureEdit($event,10,model.editUser.highestEducation)"
                                 class="ico-op ico-complete-hl"></a>
                              <a href="javascript:void(0);"
                                 ng-click="model.editUser.highestEducationEdit = false"
                                 class="ico-op ico-del-hl"></a>
                          </li>
                          <li ng-if="!model.editUser.highestEducationEdit">
                              <span class="left-txt">学历：</span>
                              <span ng-bind="model.chooseInformation.highestEducation"></span>
                              <a href="javascript:void(0);"
                                 has-permission="classInformation/changeUseInfo"
                                 ng-click="events.editUser($event,10)"
                                 class="ico-op ico-edit mr5"></a>
                          </li>-->

                    <!--邮编-->
                    <!--   <li ng-if="model.editUser.codeEdit">
                           <span class="left-txt">邮编：</span>
                           <input type="text"
                                  required
                                  ng-model="model.editUser.code"
                                  ng-pattern="/^[\d]{6}$/"
                                  class="ipt">
                           <a href="javascript:void(0);"
                              ng-click="events.sureEdit($event,4,model.editUser.code)"
                              class="ico-op ico-complete-hl"></a>
                           <a href="javascript:void(0);"
                              ng-click="model.editUser.codeEdit = false"
                              class="ico-op ico-del-hl"></a>
                       </li>

                       <li ng-if="!model.editUser.codeEdit">
                           <span class="left-txt">邮编：</span>
                           <span ng-if="model.chooseInformation.postCode!==NaN" ng-bind="model.chooseInformation.postCode"></span>
                           <span ng-if="model.chooseInformation.postCode===NaN" ></span>

                           <a href="javascript:void(0);"
                              has-permission="classInformation/changeUseInfo"
                              ng-click="events.editUser($event,4)"
                              class="ico-op ico-edit mr5"></a>
                       </li>-->

                    <!-- <li ng-if="!model.editUser.areaPathEdit">
                         <span class="left-txt">所在地区：</span>
                         <span ng-bind="model.chooseInformation.areaPath"></span>
                         <a href="javascript:void(0);"
                            has-permission="classInformation/changeUseInfo"
                            ng-click="events.editUser($event,6)"
                            class="ico-op ico-edit mr5"></a>

                     </li>
                     <li  ng-if="model.editUser.areaPathEdit" >
                         <span class="left-txt">所在地区：</span>
                         安徽省<select class="ui-slt ml5"
                                    validate-area
                                    ng-required="true"
                                    name="area"
                                    required
                                    ng-change="events.changeCity()"
                                    ng-options="item.id as item.name for item in model.cityList"
                                    ng-model="model.user.cityId" style="width:127px">
                         <option value="" class="">请选择市</option>
                     </select>
                         <select class="ui-slt ml5 " style="width:127px"
                                 ng-options="item.id as item.name for item in model.areaArr"
                                 ng-change="events.changeArea()"
                                 name="areaId"
                                 required
                                 ng-model="model.user.areaId">
                             <option value="" class="">请选择区县</option>
                         </select>
                         <a href="javascript:void(0);"
                            ng-click="events.sureEdit($event,6,model.editUser.areaPath)"
                            class="ico-op ico-complete-hl"></a>
                         <a href="javascript:void(0);"
                            ng-click="model.editUser.areaPathEdit = false"
                            class="ico-op ico-del-hl"></a>
                     </li>-->
                </ul>
            </form>
            <!--  <div class="col-tit">单位信息</div>-->
            <!-- <div class="dash-line-1"></div>-->
            <!--        <ul class="ul-d-form udf-15 li-fl pt10 clear">
                   &lt;!&ndash;     <li><span class="left-txt">发证单位地区：</span><span ng-bind="model.chooseInformation.area"></span></li>
                        <li><span class="left-txt">所属会计主管部门：</span><span ng-bind="model.chooseInformation.department"></span></li>
                        &lt;!&ndash;单位名称&ndash;&gt;
                       &ndash;&gt; <li ng-if="model.editUser.unitNameEdit">
                            <span class="left-txt">单位名称：</span>
                            <input type="text"
                                   ng-model="model.editUser.unit"
                                   class="ipt">
                            <a href="javascript:void(0);"
                               ng-click="events.sureEdit($event,5,model.editUser.unit)"
                               class="ico-op ico-complete-hl"></a>
                            <a href="javascript:void(0);"
                               ng-click="model.editUser.unitNameEdit = false"
                               class="ico-op ico-del-hl"></a>
                        </li>
                        <li ng-if="!model.editUser.unitNameEdit">
                            <span class="left-txt">单位名称：</span>
                            <a href="javascript:void(0);"
                               has-permission="classInformation/changeUseInfo"
                               ng-click="events.editUser($event,5)"
                               class="ico-op ico-edit mr5"></a>
                            <span ng-bind="model.chooseInformation.unitName"></span>
                        </li>
                    </ul>-->
            <!-- <div class="col-tit">其他</div>
             <div class="dash-line-1"></div>
             <ul class="ul-d-form udf-15 li-fl pt10 clear">
                 <li><span class="left-txt">从业证书获得时间：</span><span ng-bind="model.chooseInformation.professionalCertificatTime"></span></li>
                 <li><span class="left-txt">是否激活：</span><span ng-bind="model.chooseInformation.activated"></span></li>
                 <li><span class="left-txt">激活时间：</span><span ng-bind="model.chooseInformation.activatedTime"></span></li>
             </ul>-->
            <div class="col-tit">业务操作</div>
            <div class="dash-line-1"></div>
            <a href="javascript:void (0);"
               has-permission="classInformation/reloadPassword"
               ng-click="events.reducePassword($event,$index)"
               class="btn btn-b mt20 ml20">重置密码</a>&nbsp;&nbsp;<i style="color: red">注：重置密码为“xy000000”</i>
        </div>

    </div>
    <div class="column" ng-show="model.classTab !== 1">
        <div class="tab-tit mt20">
            <a href="javascript:void (0);"
               has-permission="classInformation/userInfo"
               ng-class="{'current':model.classTab === 1,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(1)">用户信息</a>
            <a href="javascript:void (0);"
               ng-class="{'current':model.classTab === 0,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(0)">学习内容</a>
            <a href="javascript:void (0);"
               has-permission="classInformation/changeRecord"
               ng-class="{'current':model.classTab === 7,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(7)">换班记录</a>
            <a href="javascript:void (0);" has-permission="classInformation/changeCourseRecord"
               ng-class="{'current':model.classTab === 10,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(10)">换课记录</a>
            <a href="javascript:void (0);"
               has-permission="classInformation/orderInfo"
               ng-class="{'current':model.classTab === 2,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(2)">订单信息</a>

            <a href="javascript:void (0);"
               has-permission="classInformation/invoiceInfo"
               ng-class="{'current':model.classTab === 3,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(3)">发票信息</a>

            <a href="javascript:void (0);"
               has-permission="classInformation/learningProcess"
               ng-class="{'current':model.classTab === 4,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(4)">学习历程</a>
            <a href="javascript:void (0);"
               has-permission="classInformation/distributionQuery"
               ng-class="{'current':model.classTab === 8,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(8)">配送查询</a>
            <!--   <a href="javascript:void (0);"
                  has-permission="classInformation/questionAsk"
                  ng-class="{'current':model.classTab === 5,'kGLoading':!model.noUserInformation&&model.mark===false}"
                  ng-click="events.clickTab(5)">问题咨询</a>
               <a href="javascript:void (0);"
                  has-permission="classInformation/ueserSay"
                  ng-class="{'current':model.classTab === 6,'kGLoading':!model.noUserInformation&&model.mark===false}"
                  ng-click="events.clickTab(6)">用户留言</a>-->
            <a href="javascript:void (0);"
               has-permission="classInformation/refundOrder"
               ng-class="{'current':model.classTab === 9,'kGLoading':!model.noUserInformation&&model.mark===false}"
               ng-click="events.clickTab(9)">退款订单</a>

        </div>


        <div ng-repeat="item in itemViewArr"
             ng-show="item.viewName===$state.current.name">
            <div ui-view="b{{item.viewName}}"></div>
        </div>


    </div>
</div>