<div class="main-wrap  main-wrap-2">
    <div class="w-bg clear mb50">
        <!-- 位置导航 -->
        <div class="pos-nav clear">
            <span class="p-ico"></span>当前位置：<a href="javascript:void(0)"
                                               ui-sref="states.accountant" >首页</a><span>&gt;</span>下载中心
        </div>
        <!-- /位置导航 -->
        <!-- 下载中心 -->
        <div class="mh500 mt15">
            <ul class="down-list clear">
                <li><a href="#"><span class="title">常见视频无法播放问题解决方式常见视频无法播放问题解决方式.doc</span><i class="p-ico down-ico"></i></a></li>
                <li><a href="#"><span class="title">Microsoft  office专业版专业版2013.exe</span><i class="p-ico down-ico"></i></a></li>
                <li><a href="#"><span class="title">Microsoft Office 标准版 2010.doc</span><i class="p-ico down-ico"></i></a></li>
                <li><a href="#"><span class="title">常见视频无法播放问题解决方式常见视频无法播放问题解决方式.doc</span><i class="p-ico down-ico"></i></a></li>
                <li><a href="#"><span class="title">Microsoft  office专业版专业版2013.exe</span><i class="p-ico down-ico"></i></a></li>
                <li><a href="#"><span class="title">Microsoft Office 标准版 2010Microsoft 2010.doc</span><i class="p-ico down-ico"></i></a></li>
            </ul>
        </div>
        <!-- /下载中心 -->
    </div>
</div>