<div class="lwhLoading" ng-if="model.lwhLoading===true">
    <img src="ahzj/fykccs/images/loading1.gif" alt=""/>
</div>
<!-- /头部 -->
<!--<div class="p-wrap-full pos-nav  clear"><a href="#">首页</a><span class="plr3">&gt;</span>培训通知</div>-->
<!-- 培训通知列表 -->
<!--<div class="p-wrap-full clear mb20">
    <div class="w880 fl" style="width: 1180px">
        <div class="p20 white-bg mh500">
            <ul class="newslist-2 mb20">
                &lt;!&ndash;ng-class="{'unread': item.showRed===false}"  &ndash;&gt;
                <li ng-repeat="item in model.notice">
                    <span class="dot"></span>
                    <a href="javascript:void(0)" ng-click="events.detail(item)">{{item.title}}</a>
                    <span class="date">{{item.publishTime}}</span></li>
            </ul>
            <div pagination
                 ng-change="events.getCourseList()"
                 ng-model="model.currentPage"
                 total-items="model.total"
                 items-per-page="model.itemsPerPage"
                 max-size="model.maxSize"
                 previous-text="上一页"
                 next-text="下一页"></div>
        </div>
    </div>
</div>-->



<div class="main-wrap  main-wrap-2 mh500">

    <div class="w-bg clear mb50">
        <!-- 位置导航 -->
        <div class="pos-nav clear">
            <span class="p-ico"></span>当前位置：<a href="#" ui-sref="states.accountant">首页</a><span>&gt;</span>政策法规
        </div>
        <!-- /位置导航 -->
        <ul class="news-list mt10">
            <li ng-repeat="item in model.laws">
                <h2 ng-click="events.detail(item)"><i class="dot"></i><a href="javascript:void(0)">{{item.title}}</a></h2>
                <p class="text"><a href="javascript:void(0)" ng-click="events.detail(item)" class="ar">[详细]</a></p>
                <p class="date">{{item.publishTime}}更新</p>
            </li>
        </ul>
        <div pagination
             ng-change="events.getCourseList()"
             ng-model="model.currentPage"
             total-items="model.total"
             items-per-page="model.itemsPerPage"
             max-size="model.maxSize"
             previous-text="上一页"
             next-text="下一页"></div>
    </div>
</div>



