<div class="main-wrap-body">
    <div class="search-bar mt10">
        <ul class="ul-form li-fl lh-1 clear">
            <li>
                <div query-learn-time-year model="model.query"></div>
            </li>
            <li>
                <input kendo-date-picker="node.endDate"
                       ng-model="model.query.endTime"
                       k-ng-model="model.query.endTime"
                       hb-readonly hb-clear-input k-options="datePickerConfig"
                       placeholder="查询时间"/>
            </li>
            <li>
                <div command-tool
                     permission="permission"
                     report-query="events.genReportQuery()"
                     model="model.query"
                     grid="model.node.grid"></div>
            </li>
        </ul>
    </div>
    <div class="column mt10">
        <div class="tips-box-1 clear">
            <span class="fr">单位：人次</span>
            <span summary-desc view-name="OWN_VIEW_NAME"></span>
        </div>
        <div kendo-grid="model.node.grid" k-options="mainGridOptions" class="mt10">
        </div>
    </div>
</div>