<div class="dialog">
    <div class="dialog-body">
        <form name="resetPasswordForm" novalidate>
            <div class="dialog-tit">重置超级管理员密码<a href="javascript:void(0);" class="ico ico-close"
                                                ng-click="node.windows.resetPasswordWindow.center().close();"></a></div>

            <div class="dialog-cont">
                <ul class="ul-d-form">
                    <li><span class="left-txt-1">企业名称:</span>b{{model.accountExpandInfo.companyName}}</li>
                    <li><span class="left-txt-1">商学院名称:</span>b{{model.accountExpandInfo.businessSchoolName}}</li>
                </ul>
                确定重置超级管理员密码为“admin000000”？
            </div>
        </form>
        <div class="btn-center">
            <input type="button" ng-click="events.saveResetPassword($event);resetPasswordForm.$setPristine()"
                   ng-disabled="resetPasswordForm.$invalid"
                   ng-class="{'btn-g': !resetPasswordForm.$valid,'btn-r': resetPasswordForm.$valid}"
                   class="btn" value="保存">
            <input type="button" ng-click="node.windows.resetPasswordWindow.center().close();"
                   class="btn btn-g ml10"
                   value="取消">
        </div>
    </div>
</div>
