<div class="tips-box-1 clear">
    <span class="t-r">班级开通统计报表查询的是日快照数据，日期可选范围为截止到前一天的时间！</span>列表数据按开通人数降序排！
</div>
<p class="mt10">
    <span class="fs16 b">1.搜索条件的字段及详细说明</span>（以下各搜索条件若都填写相关数据，则查询的是满足这几项搜索条件的数据才会查出来）
</p>
<table class="table table-3 table-nf mt10">
    <thead>
    <tr>
        <th width="150">搜索字段</th>
        <th>具体字段说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>查看单位</td>
        <td class="tl">
            选择查阅具体哪个施教机构的班级开通数据；
        </td>
    </tr>
    <tr>
        <td>商品所有权</td>
        <td class="tl">
            全部、自建的、代销的、我授权出的；自建的为商品是查询单位自己创建的。代销的为商品由其他施教机构授权给本单位销售的；我授权出的为商品是查询单位自己创建的，但授权给其他单位协助销售的；
        </td>
    </tr>
    <tr>
        <td>授权代销的单位</td>
        <td class="tl">
            明确代销的商品由哪一个单位授权给本单位销售的；
        </td>
    </tr>
    <tr>
        <td>授权出的单位</td>
        <td class="tl">
            明确自建的商品授权给哪个单位代销的；
        </td>
    </tr>
    <tr>
        <td>选择具体商品</td>
        <td class="tl">
            基于商品所有权，选择对应的哪一个商品；
        </td>
    </tr>
    <tr>
        <td>选择班级</td>
        <td class="tl">
            选择全部已发布的培训班
        </td>
    </tr>
    <tr>
        <td>继续教育年度</td>
        <td class="tl">
            读取的是创建培训班班级时定义的继续教育学时年度
        </td>
    </tr>
    <tr>
        <td>培训类别</td>
        <td class="tl">
            创建培训班班级时定义的培训类别属性，如专业技术人员继续教育、行政执法培训
        </td>
    </tr>
    </tbody>
</table>
<p class="mt10">
    <span class="fs16 b">2.列表字段及详细说明</span>（列表下的数据显示受搜索条件的约束，统计单位：人次）
</p>
<table class="table table-3 table-nf mt10">
    <thead>
    <tr>
        <th width="150">列表字段</th>
        <th>具体字段说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>培训班名称</td>
        <td class="tl">
            培训班班级名称，默认显示全部已发布的培训班
        </td>
    </tr>
    <tr>
        <td>净开通</td>
        <td class="tl">
            统计截止到昨天扣除退班后的实际有效的开通人次，净开通=未学习+学习中+已学完
        </td>
    </tr>
    <tr>
        <td>未学习</td>
        <td class="tl">
            统计截止到昨天净开通人数中，班级学习进度=0的人
        </td>
    </tr>
    <tr>
        <td>学习中</td>
        <td class="tl">
            统计截止到昨天净开通人数中，0&gt;班级学习进度&lt;100%或考核标准值的人
        </td>
    </tr>
    <tr>
        <td>已学完</td>
        <td class="tl">
            统计截止到昨天净开通人数中，班级学习进度=100%或班级学习进度&gt;=考核标准值的人
        </td>
    </tr>
    <tr>
        <td>已考试</td>
        <td class="tl">
            统计截止到昨天净开通人数中，班级学习进度已达考核值已参加过考试的人（有执行交卷就算一次考试）
        </td>
    </tr>
    <tr>
        <td>已合格</td>
        <td class="tl">
            统计截止到昨天净开通人数中，已达到考核要求的人
        </td>
    </tr>
    <tr>
        <td>合格率</td>
        <td class="tl">
            统计截止到昨天净开通人数中的合格率，合格率=已合格/净开通
        </td>
    </tr>
    </tbody>
</table>