<!------------- 查看开票信息  ---------------->
<div class="search-bar mt10">
    <ul class="ul-d-form ml30">
        <li><span class="left-txt">单位名称：</span><span ng-bind="model.issuingInvoiceInfo.name"></span></li>
        <li><span class="left-txt">纳税人识别码：</span><span ng-bind="model.issuingInvoiceInfo.taxCode"></span></li>
        <li><span class="left-txt">注册地址：</span><span ng-bind="model.issuingInvoiceInfo.address"></span></li>
        <li><span class="left-txt">注册电话：</span><span ng-bind="model.issuingInvoiceInfo.phone"></span></li>
        <li><span class="left-txt">开户银行：</span><span ng-bind="model.issuingInvoiceInfo.bank"></span></li>
        <li><span class="left-txt">银行账户：</span><span ng-bind="model.issuingInvoiceInfo.account"></span></li>
    </ul>
</div>