<!--导航栏-->
<!--<header class="nav-bar"  >
    <image class="nav-left nav-ico" ng-click="events.goback()"  src="images/nav_icon_return.png" />
 &lt;!&ndash;   <div class="nav-center">
        <text class="nav-tit" lines="1" ng-if="$state.includes('states.home')">帮助中心</text>
        <text class="nav-tit" lines="1" ng-if="$stateParams.id==='4028987d5c2f795a015c2f81c3fb0000'">常见问题</text>
        <text class="nav-tit" lines="1" ng-if="$stateParams.id==='4028987d5c3dc5dd015c3e880b020000'">业务流程</text>
        <text class="nav-tit" lines="1" ng-if="$stateParams.id==='4028987d5c2f795a015c2f83ba3d0001'">操作手册</text>
        <text class="nav-tit" lines="1" ng-if="$state.includes('states.detail')">b{{$stateParams.title}}</text>
    </div>&ndash;&gt;
</header>-->
<!--/导航栏-->