<table class="table table-nf mt20">
    <thead>
    <tr>
        <th width="30">No.</th>
        <th width="350">包裹物品</th>
        <th width="250">收件信息</th>
        <th width="80">配送方式</th>
        <th width="160">配送信息</th>
        <th width="60">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td class="tl">
            <div class="goods-info">
                订单号：160615194938747746700046，<span>交易成功时间：2016-06-15 20:10:58</span><br>
                培训班：2015年新会计人员培训班；2016年初级行政事业类培训班
                <div class="tips-box mt5 mb5">【培训发票】发票抬头：张三<span class="ml20">数量：1</span><span class="ml20">发票号： 10000001</span>
                </div>
            </div>
        </td>
        <td class="tl">
            收货地址：福建省 厦门市 思明区 工业路611号 ，350000<br>
            收货人：张三<br>
            手机号码：18965903030
        </td>
        <td>快递</td>
        <td>-</td>
        <td class="op">
            <a href="" class="t-btn btn btn-mini">发货</a><br>
            <a href="">备注</a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td class="tl">
            <div class="goods-info">
                订单号：160615194938747746700046，<span>交易成功时间：2016-06-15 20:10:58</span><br>
                培训班：2015年新会计人员培训班；2016年初级行政事业类培训班
                <div class="tips-box mt5 mb5">【培训发票】发票抬头：张三<span class="ml20">数量：1</span><span class="ml20">发票号： 10000001</span>
                </div>
            </div>
        </td>
        <td class="tl">
            收货地址：福建省 厦门市 思明区 工业路611号 ，350000<br>
            收货人：张三<br>
            手机号码：18965903030
            <div class="tips-box-2 mt5 mb5">
                备注：收货地址变更为【福建省 厦门市 思明区 工业路611号 ，350000 ，收货人：李四，手机号码：18965903030】
            </div>
        </td>
        <td>自取</td>
        <td>-</td>
        <td class="op">
            <a href="" class="t-btn btn btn-mini">确认自取</a>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td class="tl">
            <div class="goods-info">
                订单号：160615194938747746700046，<span>交易成功时间：2016-06-15 20:10:58</span><br>
                培训班：2015年新会计人员培训班；2016年初级行政事业类培训班
                <div class="tips-box mt5 mb5">【培训发票】发票抬头：张三<span class="ml20">数量：1</span><span class="ml20">发票号： 10000001</span>
                </div>
            </div>
            <div class="goods-info mt10">
                订单号：160615194938747746700046，<span>交易成功时间：2016-06-15 20:10:58</span><br>
                培训班：2015年新会计人员培训班；2016年初级行政事业类培训班
                <div class="tips-box mt5 mb5">【培训发票】发票抬头：张三<span class="ml20">数量：1</span><span class="ml20">发票号： 10000001</span>
                </div>
            </div>
        </td>
        <td class="tl">
            收货地址：福建省 厦门市 思明区 工业路611号 ，350000<br>
            收货人：张三<br>
            手机号码：18965903030
        </td>
        <td>快递</td>
        <td class="tl">
            快递公司：EMS<br>
            运单号：EMS86555<br>
            发货时间：2017-2-15 14:00:00<br>
            <a href="" class="txt-b">复制运单号并查询</a>
        </td>
        <td class="op">
            <span class="txt-r">已发货</span>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td class="tl">
            <div class="goods-info">
                订单号：160615194938747746700046，<span>交易成功时间：2016-06-15 20:10:58</span><br>
                培训班：2015年新会计人员培训班；2016年初级行政事业类培训班
                <div class="tips-box mt5 mb5">【培训发票】发票抬头：张三<span class="ml20">数量：1</span><span class="ml20">发票号： 10000001</span>
                </div>
            </div>
        </td>
        <td class="tl">
            收货地址：福建省 厦门市 思明区 工业路611号 ，350000<br>
            收货人：张三<br>
            手机号码：18965903030
        </td>
        <td>自取</td>
        <td class="tl">
            领取人：张三<br>
            手机号：13003831001<br>
            取货时间：2017-2-15 14:00:00<br>
            运单号：zq2564444
        </td>
        <td class="op">
            <span class="txt-r">已取货</span>
        </td>
    </tr>
    </tbody>
</table>