<div class="m-dialog">
    <div class="dialog-box w8">
        <!--<div class="dialog-hd">本班选课及考核要求<a href="#" class="p-ico close"></a></div>-->
        <div class="dialog-bd">
            <p class="b fs16">考核要求</p>
            <p class="t-r mt10 fs14">
                1 在本年度继续教育学习中，必须学满 24学时；<br>
                2 最终的考核结果由 课程练习（视频播放过程中会弹出练习题）和在线考试（学完所有课程后才可参加考试）两部分组成。<br>
                3 练习成绩的计算公式：练习成绩=答对题量/所有答题量 * 练习成绩总分50.<br>
                4 练习成绩+考试成绩达到 60分为及格<br>
            </p>
            <p class="b fs16 mt20">选课要求</p>
            <div class="m-tips-important mt10">本年度继续教育学习中 选课学时数须 >=24学时</div>
            <table class="ui-table table-line mt10">
                <thead>
                <tr>
                    <th>NO.</th>
                    <th class="tl">已选课程</th>
                    <th width="80">学时</th>
                    <th width="120">累计已选学时</th>
                    <th width="120">还需再选学时</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td class="tl">数据化实践与学习研讨课程（上）</td>
                    <td class="td-rb">4</td>
                    <td rowspan="3" class="td-rb v-t1">9</td>
                    <td rowspan="3" class="t-r v-t1 b">15</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="tl">数据化实践与学习研讨课程（上）</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class="tl">数据化实践与学习研讨课程（上）</td>
                    <td>4</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>