<div class="p-wrap-full m-content clear">
    <div center-sider></div>
    <div class="m-right-block fr mh576">
        <div class="m-right-block fr">
            <div class="right-block-bd">
                <div class="tr">
                    <a href="javascript:void(0)" ng-click="$state.go('states.trainingCertificate');"
                       class="ui-btn btn-gr btn-m">取消打印</a>
                </div>
                <div class="m-screen">
                    <div ng-if="model.yearOptionsId!==null" class="screen-style screen-style-1">

                    <span class="style-name" style="width: 120px">
                        <span class="p-ico step-num">1</span>请选择年度</span>

                        <a href="javascript:void(0)"
                           style="text-decoration: none;margin-left: 10px;width:70px"
                           ng-repeat="item in model.yearList"
                           ng-class="{'current':model.yearOptionsId===item.optionId}"
                           ng-bind="item.name"
                           ng-click="events.tabYear(item)"></a>
                    </div>
                    <div class="screen-style screen-style-1">
                        <span class="style-name" style="width: 120px"><span class="p-ico step-num">2</span>请选择科目</span>
                        <a href="javascript:void(0)"
                           style="text-decoration: none;margin-left: 10px;width:70px"
                           ng-click="events.tabSubject1(item)"
                           ng-bind="item.name"
                           ng-repeat="item in model.subjectList"
                           ng-class="{'current':model.subjectOptionsId===item.optionId}"></a>
                    </div>

                    <div class="screen-style screen-style-1">
                        <span class="style-name" style="width: 120px"><span class="p-ico step-num">3</span>请选择课程</span>
                    </div>
                    <div class="table-h1 mt10 bt-1" style="height: 800px;overflow: auto">
                        <table class="ui-table table-line table-hover table-overflow" style="border-top:0;">
                            <thead>
                            <tr>
                                <th width="20">
                                    <label class="ui-label td-label">
                                        <input type="checkbox"
                                               ng-click="events.selectAllOrNone($event)"
                                               ng-checked="model.choseList.length!==0"
                                               class="checkbox"/>
                                        <a href="#" style="left:0;"></a>
                                        <span class="ipt-txt"></span>
                                    </label>
                                </th>
                                <th width="100" style="text-align: center;">
                                    课程名称
                                </th>
                                <th width="150" style="text-align: center;">科目</th>
                                <th width="80" style="text-align: center;">学时</th>
                                <th width="80" style="text-align: center;">年度</th>
                                <th width="120" style="text-align: center;">选课日期</th>
                                <th width="120" style="text-align: center;">课程学习时段</th>
                                <th width="120" style="text-align: center;">考核通过时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-if="userPassedInfo!==undefined" ng-repeat="item in userPassedInfo">
                                <td>
                                    <label class="ui-label td-label">
                                        <input type="checkbox"
                                               ng-checked="item.ischecked==true"
                                               ng-click="events.choose($event,item)" class="checkbox"/>
                                        <a href="#" style="left:0;"></a>
                                        <span class="ipt-txt"></span>
                                    </label>
                                </td>
                                <td>b{{item.courseName}}</td>
                                <td>b{{item.subject}}</td>
                                <td>b{{item.grade}}</td>
                                <td>b{{item.year}}</td>
                                <td>b{{item.studyBeginTime| date:'yyyy-MM-dd'}}</td>
                                <td>b{{item.studyBeginTime| date:'yyyy-MM-dd' }}<br/>b{{item.studyEndTime|
                                    date:'yyyy-MM-dd'}}
                                </td>
                                <td>b{{item.assessPassedTime| date:'yyyy-MM-dd'}}</td>
                            </tr>

                            </tbody>
                        </table>

                        <div class="m-no-data tc" ng-if="userPassedInfo===undefined">
                            <img src="@systemUrl@/images/no-data.png" alt="空数据">
                            <p class="txt">暂无课程的学习记录~~</p>
                        </div>
                    </div>

                </div>
                <!--  <p class="tc mt10"><a href="#" class="a-more">查看更多+</a></p>-->
                <div class="m-sum-bar m-screen mt10 clear">
                    <div class="screen-style screen-style-1 fl">
                        <span class="style-name">
                        <span class="p-ico step-num">4</span>打印学时证明</span>
                        <p class="fl ml30 txt-g">已选 <span class="txt-o">b{{model.total}}</span> 个课程，共 <span
                                class="txt-o">b{{model.totalgrade}}</span> 学时</p>
                    </div>
                    <div class="fr">
                        <!-- <input type="button" ng-click="events.previewPdf()"  class="ui-btn btn-gr" value="预览学时证明">
                        --> <input type="button" style="height:49px;top: -3px;" ng-click="events.print()"
                                  class="ui-btn btn-o ml10" value="预览学时证明/打 印">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>