<ul style="margin-left: 20px">
    <ul style="margin-top: 10px" ng-if="classInfoModel.classRealInfo.hasExamAssess">
        <li>考试合格成绩：<span ng-bind="classInfoModel.classRealInfo.paperRequireScore"></span>分</li>
        <br>
        <li>考试满分：<span ng-bind="classInfoModel.classRealInfo.paperTotalScore"></span>分</li>
        <br>
        <li><span style="color: red">*</span>设置合格分：<input type="text"
                                                          ng-model="classInfoModel.paperScore"
                                                          class="ipt ipt-c-xm" style="width: 100px"
                                                          placeholder="请设置考核分数">分
        </li>
        <br>
    </ul>
    <ul style="margin-top: 10px" ng-if="classInfoModel.classRealInfo.hasPopQuestionAssess">
        <li>班级弹窗题合格成绩：<span ng-bind="classInfoModel.classRealInfo.popQuestionRequireScore"></span>分</li>
        <br>
        <li>班级弹窗题满分：<span ng-bind="classInfoModel.classRealInfo.popQuestionTotalScore"></span>分</li>
        <br>
        <li><span style="color: red">*</span>设置合格分：<input type="text"
                                                          ng-model="classInfoModel.popQuestionScore"
                                                          class="ipt ipt-c-xm" style="width: 100px"
                                                          placeholder="请设置考核分数">分
        </li>
        <br>
    </ul>
    <li><span style="color: red">注：</span>请设置合格成绩介于合格分和满分之间</li>
    <li style="margin-top: 20px;margin-left: 30px">
        <a href="javascript:void (0);" ng-click="events.sureOneKeyOkForClass($index)" class="btn btn-b">确定</a>
        <a href="javascript:void (0);" ng-click="events.cancelOneKeyOk($index)" class="btn btn-g ml5">取消</a>
    </li>
</ul>