<!--安排考试第三部-->
<div class="main-wrap-body">
    <div class="steps mb30">
        <div class="bg-line rd3"><span class="bg-l-current rd3" style="margin-left:66.66%;"></span>
        </div>
        <ul class="ul-step li-fl clear">
            <li class="ed"><span class="ico s-1"></span>

                <p class="step-name">填写考试基本信息</p></li>
            <li class="ed"><span class="ico s-2"></span>

                <p class="step-name">设置考试对象</p></li>
            <li class="current"><span class="ico s-3"></span>

                <p class="step-name">发布考试</p></li>
        </ul>
    </div>
    <div class="prompt-box">
        <div class="p-img fl"><img src="@systemUrl@/images/img-complete.png"></div>
        <div class="p-txt fr">
            <p>考试已完成发布!</p>
            <span>是否继续发布? <a href="" ng-click="events.continueRelease()">继续发布</a></span>
            <span><a href="javascript:void(0);" ng-click="events.goBack()">返回</a></span>
            <!--<span>否则b{{paperTime}}s之后页面将自动关闭!</span>-->
        </div>
    </div>
</div>



