<div class="m-tips-important mt10">
    选课学时数须 &gt;=<span ng-bind="model.dialogTimeLen.totalTimeLength"></span>学时
</div>
<div class="m-tips-important mt10" ng-if="model.hasChoseCourseList.length<=0">您暂时还没有选中的课程！</div>
<table class="ui-table table-line mt10" ng-if="model.hasChoseCourseList.length>0">
    <thead>
    <tr>
        <th>NO.</th>
        <th class="tl">已选课程</th>
        <th>类型</th>
        <th>来源课程包</th>
        <th width="80">学时</th>
        <th width="120">累计已选学时</th>
        <th width="120">还需再选学时</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in model.hasChoseCourseList">
        <td ng-bind="$index+1"></td>
        <td class="tl" ng-bind="item.name"></td>
        <td ng-bind="item.type===1?'必修':'选修'"></td>
        <td ng-bind="item.packageName"></td>
        <td class="td-rb">1</td>
        <td rowspan="b{{model.hasChoseCourseList.length}}" class="td-rb v-t1" ng-if="$index === 0"
            ng-bind="model.dialogTimeLen.chosenTimeLength"></td>
        <td rowspan="b{{model.hasChoseCourseList.length}}" class="t-r v-t1 b" ng-if="$index === 0"
            ng-bind="model.dialogTimeLen.needTimeLength"></td>
    </tr>
    </tbody>
</table>
