<table class="ui-table table-line mt10">
    <thead>
    <tr>
        <th class="tl">商品名称</th>
        <th width="60">单价</th>
        <th width="50">数量</th>
        <th width="80">商品状态</th>
        <th width="60">合计</th>
        <th width="80">订单状态</th>
        <th width="80">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr class="full-row-1">
        <td colspan="5" class="tl b">初始订单</td>
    </tr>
    <tbody>
    <tr class="order-row">
        <td colspan="7" class="tl">
            <span ng-bind="model.initialOrder.createTime"></span> <span class="ml100">订单号：<span
                ng-bind="model.initialOrder.orderNo"></span></span><span class="ml100">订单生产方式：<span
                ng-bind="model.initialOrder.tradeChannelName"></span></span>
        </td>
    </tr>
    <tr ng-repeat="item in model.initialOrder.subOrderList">
        <td class="tl">
            <div class="course-cont">
                <a class="img">
                    <img ng-src="b{{item.iconPath}}" alt=" ">
                    <span class="mask">
                                            <span class="bg"></span>
                                            <span class="txt"
                                                  ng-if="item.swapOut&&item.schemeType==='COURSE'">已换课</span>
                                            <span class="txt" ng-if="item.swapOut&&item.schemeType==='TRAINING_CLASS'">已换班</span>
                                        </span>
                </a>
                <div class="course-cont-bd">
                    <span class="course-name txt-ml tb-a to" ng-bind="item.name"><!--【课程】--></span>
                    <div class="course-info mt10">
                        <p><span ng-bind="item.skuPropertyNameList[1].skuPropertyName"></span>：<span
                                ng-bind="item.skuPropertyNameList[1].skuPropertyValueName"></span><span
                                class="ml30"><span ng-bind="item.skuPropertyNameList[0].skuPropertyName"></span>：<span
                                ng-bind="item.skuPropertyNameList[0].skuPropertyValueName"></span></span></p>
                    </div>
                </div>
            </div>
        </td>
        <td class="">¥<span ng-bind="item.dealPrice"></span></td>
        <td ng-bind="item.purchaseQuantity"></td>
        <td class="op-1"><span ng-if="item.status===1">待付款</span
        ><span ng-if="item.status===2||item.status===3||item.status===10">开通中</span
        ><span ng-if="item.status===4||item.status===5">交易成功</span
        ><span ng-if="item.status===9">交易关闭</span
        ><span ng-if="item.status===14||item.status===15||item.status===16">换班中</span
        ><span ng-if="item.status===6">已换班</span>

            <a class="ui-btn ui-btn-s btn-o" ng-if="item.swapOut">换班</a></td>
        <td>¥<span ng-bind="item.totalAmount"></span></td>
        <td><span ng-if="model.initialOrder.status===1" class="txt-r">待付款</span
        ><span class="txt-r" ng-if="model.initialOrder.status===2">未发货</span
        ><span class="txt-r" ng-if="model.initialOrder.status===3">发货中</span
        ><span class="txt-r" ng-if="model.initialOrder.status===4">已发货</span
        ><span class="txt-r" ng-if="model.initialOrder.status===5">已签收</span
        ><span class="txt-r" ng-if="model.initialOrder.status===6">已换货</span
        ><span class="txt-r" ng-if="model.initialOrder.status===7">退货中</span
        ><span class="txt-r" ng-if="model.initialOrder.status===8">已退货</span
        ><span class="txt-r" ng-if="model.initialOrder.status===9">已取消</span
        ><span class="txt-r" ng-if="model.initialOrder.status===10">发货中</span
        ><span class="txt-r" ng-if="model.initialOrder.status===11">退货并退款成功</span
        ><span class="txt-r" ng-if="model.initialOrder.status===12">退货失败</span
        ><span class="txt-r" ng-if="model.initialOrder.status===13">退货中</span
        ><span class="txt-r" ng-if="model.initialOrder.status===14">换货单原班级退货中</span
        ><span class="txt-r" ng-if="model.initialOrder.status===15">换货单原班级已退货</span
        ><span class="txt-r" ng-if="model.initialOrder.status===16">换货单原班级退货失败</span
        ><span class="txt-r" ng-if="model.initialOrder.status===17">退款失败</span
        ><span class="txt-r" ng-if="model.initialOrder.status===18">退货不退款成功</span></td>
        <td class="op-1 td-rb"><a href="javascript:void(0)"
                                  ng-click="events.lookDetail(model.initialOrder.orderNo)">查看</a></td>
    </tr>
    </tbody>


    <tr class="full-row-1">
        <td colspan="5" class="tl b">关联订单</td>
    </tr>
    <tbody ng-repeat="item in model.derivativeOrderList">
    <tr class="order-row">
        <td colspan="7" class="tl">
            <span ng-bind="item.createTime"></span> <span class="ml100">订单号：<span
                ng-bind="item.orderNo"></span></span><span class="ml100">订单生产方式：<span
                ng-bind="item.tradeChannelName"></span></span>
        </td>
    </tr>
    <tr ng-repeat="subItem in item.subOrderList">
        <td class="tl">
            <div class="course-cont">
                <a class="img">
                    <img ng-src="b{{subItem.iconPath}}" alt=" ">
                    <span class="mask">
                                            <span class="bg"></span>
                                            <span class="txt"
                                                  ng-if="subItem.swapOut&&subItem.schemeType==='COURSE'">已换课</span>
                                            <span class="txt"
                                                  ng-if="subItem.swapOut&&subItem.schemeType==='TRAINING_CLASS'">已换班</span>
                                        </span>
                </a>
                <div class="course-cont-bd">
                    <span class="course-name txt-ml tb-a to" ng-bind="subItem.name"><!--【课程】--></span>
                    <div class="course-info mt10">
                        <p><span ng-bind="subItem.skuPropertyNameList[1].skuPropertyName"></span>：<span
                                ng-bind="subItem.skuPropertyNameList[1].skuPropertyValueName"></span><span class="ml30"><span
                                ng-bind="subItem.skuPropertyNameList[0].skuPropertyName"></span>：<span
                                ng-bind="subItem.skuPropertyNameList[0].skuPropertyValueName"></span></span></p>
                    </div>
                </div>
            </div>
        </td>
        <td class="">¥<span ng-bind="subItem.dealPrice"></span></td>
        <td ng-bind="subItem.purchaseQuantity"></td>
        <td class="op-1"><span ng-if="subItem.status===1">待付款</span
        ><span ng-if="subItem.status===2||subItem.status===3||subItem.status===10">开通中</span
        ><span ng-if="subItem.status===4||subItem.status===5">交易成功</span
        ><span ng-if="subItem.status===9">交易关闭</span
        ><span ng-if="subItem.status===14||subItem.status===15||subItem.status===16">换班中</span
        ><span ng-if="subItem.status===6">已换班</span>

            <a class="ui-btn ui-btn-s btn-o" ng-if="subItem.swapOut">换班</a></td>
        <td>¥<span ng-bind="item.totalAmount"></span></td>
        <td><span ng-if="model.initialOrder.status===1" class="txt-r">待付款</span
        ><span class="txt-r" ng-if="item.status===2">未发货</span
        ><span class="txt-r" ng-if="item.status===3">发货中</span
        ><span class="txt-r" ng-if="item.status===4">已发货</span
        ><span class="txt-r" ng-if="item.status===5">已签收</span
        ><span class="txt-r" ng-if="item.status===6">已换货</span
        ><span class="txt-r" ng-if="item.status===7">退货中</span
        ><span class="txt-r" ng-if="item.status===8">已退货</span
        ><span class="txt-r" ng-if="item.status===9">已取消</span
        ><span class="txt-r" ng-if="item.status===10">发货中</span
        ><span class="txt-r" ng-if="item.status===11">退货并退款成功</span
        ><span class="txt-r" ng-if="item.status===12">退货失败</span
        ><span class="txt-r" ng-if="item.status===13">退货中</span
        ><span class="txt-r" ng-if="item.status===14">换货单原班级退货中</span
        ><span class="txt-r" ng-if="item.status===15">换货单原班级已退货</span
        ><span class="txt-r" ng-if="item.status===16">换货单原班级退货失败</span
        ><span class="txt-r" ng-if="item.status===17">退款失败</span
        ><span class="txt-r" ng-if="item.status===18">退货不退款成功</span></td>
        <td class="op-1 td-rb"><a href="javascript:void(0)" ng-click="events.lookDetail(item.orderNo)">查看</a></td>
    </tr>
    </tbody>

    </tbody>
</table>