<div class="tips-box-1 clear">
    <span class="t-r">统计报表查询的是以日为单位的数据，因此查询日期的可选范围为当前日期的前一天</span>
</div>
<p class="mt10">
    <span class="fs16 b">1.搜索条件说明</span>（以下各搜索条件若都填写相关数据，则查询的是满足这几项搜索条件的数据才会查出来，即是且的关系）
</p>
<table class="table table-3 table-nf mt10">
    <thead>
    <tr>
        <th width="150">字段</th>
        <th>详细说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>查询维度</td>
        <td class="tl">
            收款账号、商品；收款账号表示在基于收款账号在自建、授权的、我授权出的情况下对应商品的销售数据。商品表示基于商品在自建的、代销的、我授权出的情况下对应商品的销售数据。
        </td>
    </tr>
    <tr>
        <td>收款账号所有权</td>
        <td class="tl">
            全部、自建的、代销的、我授权的；自建的为收款账号是本单位自己创建的。授权的为收款账号由其他施教机构授权给本单位代收款的。我授权出的为收款账号是本单位自己创建的，但授权给其他单位使用收款的。
        </td>
    </tr>
    <tr>
        <td>商品所有权</td>
        <td class="tl">
            全部、自建的、代销的、我授权出的；自建的为商品是本单位自己创建的。代销的为商品由其他施教机构授权给本单位销售的。我授权出的为商品是本单位自己创建的，但授权给其他单位协助销售的。
        </td>
    </tr>
    <tr>
        <td>授权代销的单位</td>
        <td class="tl">
            明确代销的商品/授权收款的账号由哪一个单位授权给本单位销售/收款的。
        </td>
    </tr>
    <tr>
        <td>授权出的单位</td>
        <td class="tl">
            明确自建的商品/收款账号授权给哪个单位代销/收款的。
        </td>
    </tr>
    <tr>
        <td>选择具体商品</td>
        <td class="tl">
            基于商品所有权，选择对应的哪一个商品。
        </td>
    </tr>
    <tr>
        <td>选择具体收款账号</td>
        <td class="tl">
            基于收款账号所有权，选择对应的具体收款账号。
        </td>
    </tr>
    <tr>
        <td>培训方案形式</td>
        <td class="tl">
            选择培训方案。选择属性值：全部、培训班学习、自主选课学习。
        </td>
    </tr>
    <tr>
        <td>培训方案</td>
        <td class="tl">
            选择需查询的具体培训方案
        </td>
    </tr>
    <tr>
        <td>商品类型</td>
        <td class="tl">
            指平台上所销售的商品类型，有培训班、学时商品、课程。
        </td>
    </tr>
    <tr>
        <td>单价区间</td>
        <td class="tl">
            商品的销售单价区间
        </td>
    </tr>
    <tr>
        <td>销售日期</td>
        <td class="tl">
            查询在该销售日期内的商品销售数据
        </td>
    </tr>
    </tbody>
</table>
<p class="mt10">
    <span class="fs16 b">2.列表字段说明</span>（列表下的数据显示受搜索条件的约束）
</p>
<table class="table table-3 table-nf mt10">
    <thead>
    <tr>
        <th width="150">字段</th>
        <th>详细说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>合计</td>
        <td class="tl">
            各项数据的合计数值
        </td>
    </tr>
    <tr>
        <td>创建单位</td>
        <td class="tl">
            表示该培训方案由哪个单位创建的
        </td>
    </tr>
    <tr>
        <td>商品来源</td>
        <td class="tl">
            表示该商品的由哪一方授权销售的
        </td>
    </tr>
    <tr>
        <td>商品名称</td>
        <td class="tl">
            显示被查询的商品名称
        </td>
    </tr>
    <tr>
        <td>商品类型</td>
        <td class="tl">
            显示商品对应的类型信息
        </td>
    </tr>
    <tr>
        <td>培训方案形式</td>
        <td class="tl">
            显示商品所属的培训方案形式的信息
        </td>
    </tr>
    <tr>
        <td>
            单价
        </td>
        <td class="tl">
            显学商品设定的销售单价。若一个商品多次调整销售单价则有同一个商品不同单价的记录
        </td>
    </tr>
    <tr>
        <td>累计销售数</td>
        <td class="tl">
            在查询的时间内，累计购买的成功的数据
        </td>
    </tr>
    <tr>
        <td>
            退款退货数
        </td>
        <td class="tl">
            在查询时间段内，商品发生退款退货成功的数量；退款退货指的是费用退还用户的同时将商品资源回收
        </td>
    </tr>
    <tr>
        <td>
            净销售数
        </td>
        <td class="tl">
            累计销售数+换入数-退款退货数-换出数
        </td>
    </tr>
    </tbody>
</table>
