<div class="pos-nav-box" ng-if="$state.current.name==='states.paymentAccount.paymentAdd'">
    <div class="pos-nav"><span><a href="javascript:void(0)"
                                  ng-click="$state.go('states.paymentAccount');events.accountList();"
                                  class="ico return"></a>
        <a class="aw"
           ng-click="$state.go('states.paymentAccount');events.accountList();"
           href="javascript:void(0)">收款账号管理</a> &gt;</span>
        <span class="ml10">新建收款帐号</span>
    </div>
</div>

<div class="pos-nav-box" ng-if="$state.current.name==='states.paymentAccount.paymentDetail'">
    <div class="pos-nav"><span><a href="javascript:void(0)"
                                  ng-click="$state.go('states.paymentAccount')"
                                  class="ico return"></a>
        <a class="aw"
           ng-click="$state.go('states.paymentAccount' )"
           href="javascript:void(0)">收款账号管理</a> &gt;</span>
        <span class="ml10">账号详情</span>
    </div>
</div>

<div class="pos-nav-box" ng-if="$state.current.name==='states.paymentAccount.paymentUpdate'">
    <div class="pos-nav"><span><a href="javascript:void(0)"
                                  ng-click="$state.go('states.paymentAccount');events.accountList();"
                                  class="ico return">
        <a class="aw"
           ng-click="$state.go('states.paymentAccount');events.accountList();"
           href="javascript:void(0)">收款账号管理</a> &gt;</span>
        <span class="ml10">修改收款帐号</span>
    </div>
</div>

<div ui-view="paymentAccountItem"></div>
<!--tab按钮-->
<div class="main-wrap-body" ng-show="$state.current.name==='states.paymentAccount'">
    <div class="tab-tit mt10">
        <a class="current" ng-class="{current: flagModel.tabType === 'OWN'}" ng-click="events.tabClick($event,'OWN')">本单位</a>
        <a class="" ng-class="{current: flagModel.tabType === 'PROJECT'}" ng-click="events.tabClick($event, 'PROJECT')" ng-if="events.isSubProjectManager()">项目级</a>
    </div>
</div>
<!--列表-->
<div class="main-wrap-body" ng-show="$state.current.name==='states.paymentAccount'">
    <!--本单位-->
    <div ng-if="flagModel.tabType === 'OWN'">
        <div class="search-bar">

            <ul class="ul-form li-fl lh-1 clear">
                <div hb-authorized-option
                     lock-range-for-res="merchantAccount"
                     query-params="model.authorizeQuery"></div>
                <li><a ng-click="events.search($event)" class="btn btn-b">查询</a></li>
            </ul>
        </div>
        <div class="dash-line-3"></div>
        <span class="btn  btn-b" has-permission="frontPaymentAccount/add"
              ng-click="$state.go ( 'states.paymentAccount.paymentAdd')">新建账号</span>
        <div class="search-bar">系统当前已添加
            <span style="font-weight: bold; color: red; font-size: 16px; margin: 0 2px;">b{{model.paymentAccountList.length}}</span>个收款账户
        </div>


        <div class="column mt10" style="overflow:scroll;" >
        <table class="table">
            <thead>
            <tr>
                <th width="30">No.</th>
                <th width="140">收款账号别名</th>
                <th width="100">支付方式</th>
                <th width="145">账户名称/开户户名</th>
                <th width="145">创建单位</th>
                <th width="145">是否为授权账号</th>
                <th width="145" ng-if="flagModel.tabType === 'OWN'">授权状态</th>
                <th width="145" ng-if="flagModel.tabType === 'OWN'">是否授权</th>
                <th width="160">支付账号类型</th>
                <th width="160">开户号</th>
                <!--       <th>账户名称/开户户名</th>-->
                <th width="145">柜台号</th>
                <th width="70">账号状态</th>
                <th width="400">操作</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="paymentAccount in model.paymentAccountList">
                <td>b{{$index + 1}}</td>
                <td>b{{paymentAccount.accountAlias}}</td>
                <td>b{{paymentAccount.firstType===1?'线上':'线下'}}</td>
                <td>b{{paymentAccount.merchantName}}</td>
                <td ng-bind="paymentAccount.createUnitName === null ?'-':paymentAccount.createUnitName"></td>
                <td ng-bind="paymentAccount.fromAuthorize?'是':'否'"></td>
                <td ng-bind="paymentAccount.fromAuthorize? (paymentAccount.authorizationState === 'AUTHORIZATION'?'授权中':'已取消授权'):'-'" ></td>
                <td ng-bind="paymentAccount.fromAuthorize?'-':(paymentAccount.hasAuthorize?'已授权':'未授权')" ></td>
                <td>b{{paymentAccount.tradeChannelName}}</td>
                <!--     <td>b{{paymentAccount.bankNumber}}</td>-->
                <td>b{{paymentAccount.accountNo}}</td>
                <td>b{{paymentAccount.counterNumber}}</td>
                <td>
                    <span ng-if="paymentAccount.status===1">启用</span>
                    <span ng-if="paymentAccount.status===0">停用</span>
                </td>
                <td>
                    <button class="table-btn" has-permission="frontPaymentAccount/enable" ng-if="paymentAccount.status===0"
                       ng-click="events.enabled(paymentAccount)"  ng-disabled="paymentAccount.fromAuthorize">启用</button>
                    <button class="table-btn" has-permission="frontPaymentAccount/disable" ng-if="paymentAccount.status===1"
                       ng-click="events.disabled(paymentAccount)" ng-disabled="paymentAccount.fromAuthorize">停用</button>
                    <button class="table-btn" has-permission="frontPaymentAccount/details"
                       ng-click="events.detail(paymentAccount)">详细</button>
                    <button class="table-btn" has-permission="frontPaymentAccount/update"
                       ng-click="events.update(paymentAccount)" ng-disabled="paymentAccount.fromAuthorize">修改</button>
                    <button class="table-btn" has-permission="frontPaymentAccount/delete"
                       ng-click="events.delete(paymentAccount)" ng-disabled="paymentAccount.fromAuthorize">删除</button>
                    <button class="table-btn" has-permission="frontPaymentAccount/delete"
                       ng-click="events.popAuthorizeUnitDialog(paymentAccount)" ng-if="!paymentAccount.fromAuthorize" ng-show="events.isSubProjectManager()">授权管理</button>
                    <button class="table-btn" has-permission="frontPaymentAccount/delete"
                       ng-click="events.popInvoiceConfigDialog(paymentAccount)"ng-if="!paymentAccount.fromAuthorize">发票配置</button>
                    <button class="table-btn" has-permission="frontPaymentAccount/delete"
                       ng-click="events.popAuthorizeRecordDialog(paymentAccount)"ng-if="!paymentAccount.fromAuthorize" ng-show="events.isSubProjectManager()">授权日志</button>
                    <button class="table-btn" has-permission="frontPaymentAccount/delete"
                       ng-click="events.popInvoiceDetailDialog(paymentAccount)"ng-if="paymentAccount.fromAuthorize">查看开票规则</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    <!--项目级-->
    <div ng-if="flagModel.tabType === 'PROJECT'">
        <ul class="ul-form li-fl clear">
            <!--<li><input type="text" class="ipt ipt-medium" placeholder="请选择查看单位"-->
                       <!--ng-model="model.accountQuery.unitName"-->
                       <!--ng-click="events.popUnitDialog()"/>-->
            <!--</li>-->
            <div hb-authorized-option
                 lock-range-for-res="merchantAccount"
                 query-all="true"
                 query-params="model.authorizeQuery"
                 change-unit-callback="events.initAllGrid(unitId)"></div>
            <li><a class="btn btn-b" ng-click="events.accountList($event)">查询</a></li>
        </ul>
        <div class="dash-line-3"></div>
        <div class="column mt10" style="overflow:scroll;">
        <table class="table">
            <thead>
            <tr>
                <th width="30">No.</th>
                <th width="140">收款账号别名</th>
                <th width="100">支付方式</th>
                <th width="145">账户名称/开户户名</th>
                <th width="145">创建单位</th>
                <th width="145">是否为授权账号</th>
                <th width="145" ng-if="flagModel.tabType === 'OWN'">授权状态</th>
                <th width="145" ng-if="flagModel.tabType === 'OWN'">是否授权</th>
                <th width="160">支付账号类型</th>
                <th width="160">开户号</th>
                <th width="145">柜台号</th>
                <th width="70">账号状态</th>
                <th width="200">操作</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="paymentAccount in model.paymentAccountList" >
                <td>b{{$index + 1}}</td>
                <td>b{{paymentAccount.accountAlias}}</td>
                <td>b{{paymentAccount.firstType===1?'线上':'线下'}}</td>
                <td>b{{paymentAccount.merchantName}}</td>
                <td ng-bind="paymentAccount.createUnitName === null ?'-':paymentAccount.createUnitName"></td>
                <td ng-bind="paymentAccount.fromAuthorize?'是':'否'"></td>
                <td>b{{paymentAccount.tradeChannelName}}</td>
                <!--     <td>b{{paymentAccount.bankNumber}}</td>-->
                <td>b{{paymentAccount.accountNo}}</td>
                <td>b{{paymentAccount.counterNumber}}</td>
                <td>
                    <span ng-if="paymentAccount.status===1">启用</span>
                    <span ng-if="paymentAccount.status===0">停用</span>
                </td>
                <td>
                    <a class="table-btn" has-permission="frontPaymentAccount/details"
                       ng-click="events.detail(paymentAccount)">详细</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

<!--项目级查看单位-->
<div class="dialog" kendo-window="node.windows.addWindow" k-options="ui.windows.addWindow" style="width:900px;">
    <div class="dialog-body mt30" style="margin-top: 0px;">
        <div class="dialog-tit">选择单位/机构<a href="javascript:void(0)" ng-click="events.cancel($event);"
                                       class="ico ico-close"></a></div>
        <div class="dialog-cont">


            <div class="search-bar">
                <ul class="ul-form li-fl clear">
                    <li>
                        <input ng-model="model.unitQuery.unitName" class="ipt ipt-medium"
                               placeholder="请输入单位/机构名称">
                    </li>
                    <li><a class="btn btn-b" ng-click="events.searchViewUnit($event)">查询</a></li>
                </ul>
            </div>

            <div kendo-grid="node.unitGridInstance" k-options="ui.unitGrid.options"></div>

        </div>
    </div>
</div>

<!--授权管理弹窗-->
<div class="dialog" kendo-window="node.windows.authorizeManagerWindow" k-options="ui.windows.addWindow"style="width: 1200px;height: 650px">
    <div class="dialog-body mt30" style="margin-top: 0px;">
        <div class="dialog-tit">授权管理<a href="javascript:void(0)" ng-click="events.closeAuthorizeManagerDialog($event);"
                                          class="ico ico-close"></a></div>

        <!--分配授权-->
        <div class="tab-tit mt10">
            <a  ng-class="{current: flagModel.authorizeManagerTab === 'ASSIGN'}" ng-click="events.switchAuthorizeManagerTab('ASSIGN')">分配授权</a>
            <a  ng-class="{current: flagModel.authorizeManagerTab === 'ADJUST'}"ng-click="events.switchAuthorizeManagerTab('ADJUST')">调整授权</a>
        </div>
        <!--分配授权tab内容-->
        <div class="tab-bd p10" ng-show="flagModel.authorizeManagerTab === 'ASSIGN'">
            <div class="mb10"><b>1、待授权单位/机构</b></div>

            <div>
                <div class="dialog-body mt30" style="margin-top: 0px;">
                    <div class="dialog-cont">
                        <div kendo-grid="node.unAuthorizeUnitGrid" k-options="ui.unAuthorizeUnitGrid.options"></div>
                    </div>
                </div>
            </div>

            <div class="mt30"><b>2、配置被授权单位，是否可向下级授权</b></div>
            <table class="table mt10">
                <thead>
                    <tr>
                        <th width="50">NO.</th>
                        <th width="350">机构名称</th>
                        <th width="300">机构所属地区</th>
                        <th width="100">联系人</th>
                        <th>操作</th>
                    </tr>
                </thead>
            </table>
            <div style="max-height:166px; overflow: auto; margin-top: -1px;">
                <table class="table">
                    <tbody>
                    <tr ng-repeat="item in model.toBeAuthorizeUnitList">
                        <td width="50"  ng-bind="$index+1"></td>
                        <td width="350" ng-bind="item.unitName"></td>
                        <td width="300" ng-bind="item.region"></td>
                        <td width="100" ng-bind="item.contactMan"></td>
                        <td class="op"><a href="javascript:void(0)" ng-click="events.removeToBeAuthorizeUnit(item)">取消选择</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-center">
                <a  href="javascript:void(0)" class="btn btn-r" ng-click="events.authorizeToUnit()">保存</a>
                <a  href="javascript:void(0)" class="btn btn-g ml10" ng-click="events.closeAuthorizeManagerDialog($event);">取消</a>
            </div>
        </div>

        <!--调整授权tab内容-->
        <div class="tab-bd p10" ng-show="flagModel.authorizeManagerTab === 'ADJUST'">
            <div class="mb10"><b>已授权单位/机构列表</b></div>
            <table class="table mt10">
                <thead>
                    <tr>
                        <th width="50">NO.</th>
                        <th width="350">机构名称</th>
                        <th width="300">机构所属地区</th>
                        <th width="80">联系人</th>
                        <th>取消授权</th>
                    </tr>
                </thead>
            </table>
            <div style="max-height:244px; overflow: auto; margin-top: -1px;">
                <table class="table">
                    <tbody>
                        <tr ng-repeat="item in model.hasAuthorizeUnitList">
                            <td width="50"  ng-bind="$index+1"></td>
                            <td width="350" ng-bind="item.unitName"></td>
                            <td width="300" ng-bind="item.region"></td>
                            <td width="80"  ng-bind="item.contactMan"></td>
                            <td><label><input type="checkbox" class="rad"  ng-click="events.toggleCancelAuthorize(item)" ng-checked="utils.isSelectToBeCancelAuthorize(item.unitId)">选择取消授权</label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tips-box-1 mt10">取消授权说明：被授权方使用该收款帐号缴费的渠道将无法正常下单购买。</div>
            <div class="btn-center">
                <a href="javascript:void(0)" class="btn btn-r"      ng-click="events.cancelAuthorizeToUnit()">提交修改</a>
                <a href="javascript:void(0)" class="btn btn-g ml10" ng-click="events.closeAuthorizeManagerDialog($event)" >取消</a>
            </div>
        </div>
    </div>
</div>
<!--发票配置日志窗口-->
<div class="dialog" kendo-window="node.windows.invoiceConfigLogWindow" k-options="ui.windows.addWindow"style="width: 1200px;height: 750px">
    <div class="dialog-body mt30" style="margin-top: 0px;">
        <div class="dialog-tit">发票操作日志<a href="javascript:void(0)" ng-click="events.closeInvoiceConfigLogDialog($event);"
                                       class="ico ico-close"></a></div>
        <div>
            <div class="dialog-body mt30" style="margin-top: 0px;">
                <div class="dialog-cont" style="max-height: 740px">
                    <div class="op-list">
                        <div class="list-items"  ng-if="model.invoiceConfigLogList.length > 0" ng-repeat="item in model.invoiceConfigLogList">
                        <p>【<span ng-bind="item.operatorName"></span>】在
                            【<span ng-bind="item.operateTime"></span>】将该收款账号的开票规则为
                            【<span ng-bind="item.isProvide ==1?'不提供发票':'提供发票'"></span>】
                            <label   ng-if="item.isProvide ==2">
                                【<span ng-bind="item.provideType ==1?'开放自选':'强制提供'"></span>】,
                                发票类型
                                <span ng-if="item.selectCommonVAT">【增值税普通发票】</span>
                                <span ng-if="item.selectCommonElectron">【电子普通发票】</span>
                                <span ng-if="item.selectVATOnly">【增值税专用发票】</span>
                                <span ng-if="item.selectNonTax">【非税务发票】</span>,
                                发票抬头
                                <span ng-if="item.selectPersonal">【个人】</span>
                                <span ng-if="item.selectUnit">【单位】</span>
                            </label>

                        </p>
                    </div>
                   </div>
                    <div ng-if="model.invoiceConfigLogList.length > 0" class="col-body mt20 clear">
                        <div kendo-pager="node.invoiceConfigLogPager" k-options="ui.invoiceConfigLogPager"></div>
                    </div>

                    <!-- 无记录 -->
                    <div ng-if="model.invoiceConfigLogList.length === 0" class="no-data pt30 clear">
                        <div class="p-img"><img src="@systemUrl@/images/empty.png"></div>
                        <div class="p-txt">暂时没有发牌配置日志!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
