<div class="dialog-body">
    <div class="dialog-tit">待选课程<a href="javascript:void(0)"
                                     ng-click="events.cancelCourseSelect()"
                                     class="ico ico-close"></a></div>
    <div class="dialog-cont">


        <div class="search-bar mt10">
            <ul class="ul-form li-fl clear">

                <li>
                    <input type="text"
                           class="ipt ipt-medium"
                           ng-keyup="events.pressEnterKey($event)"
                           ng-model="model.queryParam.name"
                           placeholder="请输入课程名称"/>
                </li>

                <li><a href="javascript:void(0)"
                       ng-click="events.MainPageQueryList($event,'courseGridInstance')"
                       class="btn btn-b">查询</a>
                </li>
            </ul>
        </div>

        <div kendo-grid="kendoPlus.courseGridInstance"
             k-options="courseGird.options">
        </div>
    </div>
    <div class="btn-center">
        <a href="javascript:void(0)"
           ng-click="events.confirmCourseSelect()"
           class="btn btn-r ml10">确定</a>
        <a href="javascript:void(0)"
           ng-click="events.cancelCourseSelect()"
           class="btn btn-g ml10">取消</a>
    </div>
</div>