<div class="wrap clear">
    <div class="dialog w-textarea3" style="width:550px;"
         ng-click="events.closeTree($event)" k-options="windowOptions">
        <div class="dialog-body">
            <div class="dialog-tit">重置密码<a href="#" class="ico ico-close"
                                           ng-click="events.cancelWindow($event);adminAccountForm.$setPristine()"></a>
            </div>
            <div class="dialog-cont">
                <form name="adminAccountForm" ng-model-options="{updateOn: 'blur'}" novalidate>
                    <ul class="ul-form uf-1 clear">
                        <li><span class="s-txt width124"><i class="text-red">*</i> 重置密码：</span>
                            <input type="password" class="ipt ipt-medium"
                                   name="resertPassword"
                                   ng-minlength="6"
                                   ng-maxlength="20"
                                   ng-pattern=/(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^.{6,20}$/
 ng-model="model.resertPassword"
                                   placeholder="请输入密码"
                                   required ng-required="true" style="width: 185px"
                            />
                            <span ng-show="adminAccountForm.resertPassword.$dirty && adminAccountForm.resertPassword.$error.required"
                                  class="li-prompt lip-2 lip-2">
                    <span class="ico ico-prompt"></span>密码不能为空。
                </span>

                            <span ng-show="adminAccountForm.resertPassword.$dirty && !adminAccountForm.resertPassword.$error.required && adminAccountForm.resertPassword.$error.pattern"
                                  class="li-prompt lip-2 lip-2"><span class="ico ico-prompt"></span>密码最少由字母、数字,特殊符号中的2种组成,长度在6~20之间！
                </span>
                        </li>

                        <li><span class="s-txt width124"><i class="text-red">*</i> 确认密码：</span>
                            <input type="password"
                                   class="ipt ipt-medium"
                                   name="checkResetPassword"
                                   hb-compare="model.resertPassword"
                                   ng-minlength="6"
                                   ng-maxlength="20"
                                   ng-model="model.checkResetPassword"
                                   placeholder="请再次输入密码"
                                   required ng-required="true" style="width: 185px"
                            />
                            <span class="li-prompt lip-2 lip-2"
                                  ng-show="adminAccountForm.checkResetPassword.$dirty&&adminAccountForm.checkResetPassword.$error.required"><span
                                    class="ico ico-prompt"></span>请输入确认密码！</span>
                            <span class="li-prompt lip-2 lip-2"
                                  ng-show="adminAccountForm.checkResetPassword.$error.maxlength||adminAccountForm.checkResetPassword.$error.minlength"> 请输入6-20位字符！</span>
                            <span class="li-prompt lip-2 lip-2"
                                  ng-show="!adminAccountForm.checkResetPassword.$error.required&&!adminAccountForm.checkResetPassword.$error.maxlength&&!adminAccountForm.checkResetPassword.$error.minlength&&adminAccountForm.checkResetPassword.$error.compare">输入的密码不一致！</span>
                        </li>

                        <li>
                            <div class="btn-center" style="margin-left: -195px;">
                                <a href="javascript:void(0)"
                                   ng-click="events.cancelWindow($event);adminAccountForm.$setPristine()"
                                   has-permission="administratorManage/cancelResetPassword"
                                   class="btn btn-r ml10">取消</a>

                                <a href="javascript:void(0)" class="btn btn-r"
                                   has-permission="administratorManage/confirmResetPassword"
                                   ng-class="{'btn-disable':!adminAccountForm.$valid}"
                                   ng-click="events.resetPasswordExcute($event,adminAccountForm.$valid);adminAccountForm.$setPristine()">确定</a>
                            </div>
                        </li>
                    </ul>

                </form>
            </div>
        </div>

    </div>
</div>
