<div class="main-wrap-body" ng-if="$state.current.name === 'states.solution'">
    <div class="column">
        <div class="col-body">
            <div class="search-bar">
                <ul class="ul-form li-fl clear">
                    <li>
                        <input type="text" class="ipt ipt-medium" placeholder="输入解决方案名称"
                               ng-model="model.indexPageParams.name"
                               ng-keydown="events.queryByEnter($event)"
                        />
                    </li>
                    <li>
                        <input type="text" class="ipt ipt-medium" placeholder="创建时间"
                               ng-model="model.indexPageParams.createBeginDate"
                               kendo-date-picker="node.createBeginDate"
                               k-options="ui.datePicker.begin"
                               hb-readonly hb-clear-input
                               ng-keydown="events.queryByEnter($event)"
                        /> -
                        <input type="text" class="ipt ipt-medium" placeholder="创建时间"
                               ng-model="model.indexPageParams.createEndDate"
                               kendo-date-picker="node.createEndDate"
                               k-options="ui.datePicker.end"
                               hb-readonly hb-clear-input
                               ng-keydown="events.queryByEnter($event)"
                        />
                    </li>
                    <li><a href="#" ng-click="events.reloadSolutionGrid($event)" class="btn btn-b">查询</a></li>
                </ul>
            </div>

            <!--<div class="zt-a mt10">类型：-->
            <!--<a href="#" class="ml10 current">全部(2)</a>-->
            <!--<a href="#" class="ml10">正式(0)</a>-->
            <!--<a href="#" class="ml10">体验(0)</a>-->
            <!--</div>-->
            <!--<div class="zt-a mt10">状态：-->
            <!--<a href="#" class="ml10 current">全部(2)</a>-->
            <!--<a href="#" class="ml10">可用(0)</a>-->
            <!--<a href="#" class="ml10">不可用(0)</a>-->
            <!--</div>-->

            <div class="column">
                <div class="dash-line-2"></div>
                <a href="javascript: void(0);" ng-click="$state.go('states.solution.editNew')"
                   class="btn-r btn">新建解决方案</a>
                <!--<a href="#" class="btn-r btn ml10">设置为默认体验</a>-->
            </div>

            <div class="column mt10">
                <div kendo-grid="node.solutionGrid" k-options="ui.solutionGrid"></div>
            </div>
        </div>
    </div>
</div>

<div ui-view></div>
