<div class="tips-box-1 clear">
    当前数据查询表，主要给教务部用于搜索已激活未报班和未激活的人员进行群发通知用途，日期可选范围为截止到前一天的时间！
</div>
<p class="mt10">
    <span class="fs16 b">1.搜索条件的字段及详细说明</span>（以下各搜索条件若都填写相关数据，则查询的是满足这几项搜索条件的数据才会查出来，即是且的关系）
</p>
<table class="table table-3 table-nf mt10">
    <thead>
    <tr>
        <th width="150">搜索字段</th>
        <th>具体字段说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>地区</td>
        <td class="tl">
            地区为学员的证书所在地区，地区可选择至最末级；选福州市则显示的是福州市下各区县数据，选择区县则是具体区县下的数据
        </td>
    </tr>
    <tr>
        <td>从业证书获得时间</td>
        <td class="tl">
            为会计管理系统创建该学员数据的时间
        </td>
    </tr>
    <tr>
        <td>职称等级</td>
        <td class="tl">
            为学员的职称等级，如无，初级、 中级、高级
        </td>
    </tr>
    <tr>
        <td>是否激活</td>
        <td class="tl">
            可筛选是否激活，若是已激活，则可选择学时年度、未报班次数进行筛选，若是未激活，将不会出现学时年度、未报班次数项筛选
        </td>
    </tr>
    <tr>
        <td>55周岁以下</td>
        <td class="tl">
            勾选上55周岁（根据学员身份证统计）以下，则55周岁以下的数据才会显示出来，超过55周岁（含 55周岁）的数据都不显示出来
        </td>
    </tr>
    </tbody>
</table>
<p class="mt10">
    <span class="fs16 b">2.列表字段及详细说明</span>（列表下的数据显示受搜索条件的约束，统计单位：人数）
</p>
<p class="dash-line-5"></p>
<p class="mt10">（1）列表以人员的维度统计该人员的年度报班情况，表格上汇总的数据以人数为单位统计人员要报名的报班人数</p>
<p>（2）列表中的未报班年度和已报班年度，根据搜索条件查询学员要报名的继续教育年度情况，若有多个年度未报则用逗号隔开</p>