<div class="main-wrap-body">
    <div class="rel udf-2">
        <div payment-rules sku-id="model.skuId" scheme-id="model.schemeId" just-import-open="schemeDetail.justImportOpen"
             edit-rule="model.editRule"
             just-view="true"
             save-rule-callback="events.init()"
             payment-rule="model.paymentRule"></div>
        <!--<div class="column mt50" >-->
            <!--<div class="col-tit clear">授权日志</div>-->
            <!--<div class="dash-line-1"></div>-->
        <!--</div>-->
        <!--<div class="op-list mt20">-->
            <!--<div class="list-items">-->
                <!--<p>【时间】授权方【单位名称】授权了该培训方案的代销权限。支持【授权方自主收款】，收款帐号有【A收款帐号（开户号）、B收款帐号（开户号）、C收款帐号（开户号）】，定价为【120元/班≤销售价≤150】</p>-->
            <!--</div>-->
            <!--<div class="list-items">-->
                <!--<p>【时间】授权方【单位名称】取消了代销权限。</p>-->
            <!--</div>-->
            <!--<div class="list-items">-->
                <!--<p>【时间】授权方【单位名称】授权了该培训方案的代销权限。支持【由本单位（被授权方）自主收款】，定价为【120元 / 不限制 /  120元/班≤销售价≤150】</p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>