<div class="dialog-body">
    <div class="dialog-tit">选择培训证明模板<a href="javascript:void(0)"
                                       ng-click="events.closeKendoWindow('choseTrainProofWindow')"
                                       class="ico ico-close"></a></div>
    <div class="dialog-cont">
        <div kendo-grid="kendoPlus.trainProofInstance"
             k-options="trainProofGrid.options">
        </div>
    </div>
    <div class="btn-center">
        <a href="javascript:void(0)"
           ng-click="events.closeKendoWindow('choseTrainProofWindow')"
           class="btn btn-g ml10">取消</a>
    </div>
</div>