<div class="dialog-body lwh-pop" ng-click="events.clickDocument()">
    <div class="dialog-tit">配置班级练习题信息<a href="javascript:void(0)"
                                        class="ico ico-close"
                                        ng-click="events.cacelExcrise()"></a></div>
    <div class="dialog-cont" style="overflow:inherit">
        <ul class="ul-d-form pt20 pl20 lh-1">

            <li>
                <span class="left-txt"><i>*</i>练习题来源：</span>
                <label><input class="rad"
                              ng-model="submitData.exerciseConfig.questionSource"
                              value="QUESTION_LIBRARY"
                              name="questionSource"
                              type="radio">来自题库</label>
                <label class="ml20"><input class="rad"
                                           ng-model="submitData.exerciseConfig.questionSource"
                                           value="CLASS_LESSON"
                                           name="questionSource"
                                           type="radio">按本班级学员课程ID出题</label>
                <label class="ml20"
                       ng-class="{'lwh-label-disabled':!(submitData.examRound.examPaperId&&model.studyTypeArr[1].ischecked)}"><input
                        class="rad"
                        ng-disabled="!(submitData.examRound.examPaperId&&model.studyTypeArr[1].ischecked)"
                        ng-model="submitData.exerciseConfig.questionSource"
                        value="EXAM_PAPER"
                        name="questionSource"
                        type="radio">与考试相同</label>
            </li>
            <li ng-show="submitData.exerciseConfig.questionSource==='QUESTION_LIBRARY'" style="z-index: 1000">
                <span class="left-txt fl"><i>*</i>选择题库：</span>
                <div class="fl">
                    <input type="text" class="ipt ipt-large "
                           style="z-index: 1000;"
                           placeholder="请选择题库"
                           ng-click="events.openSmartPaperLibraryTree($event)"/>
                    <div class="column-block w-tree fl"
                         style="position: absolute;z-index: 10;" ng-show="smartPaperLibraryTreeShow"
                         ng-click="$event.stopPropagation()">
                        <div class="col-body p0">
                            <div kendo-tree-view="node.smartPaperlibraryTree"
                                 k-options="ui.smartPaperLibraryTree.options"
                                 k-on-change="model.libraryTreeSelectedItem = dataItem" class="mh-1"
                                 style="width: 230px;">
                                            <span k-template ng-click="events.getQuestionOrgInfo(dataItem)">
                                              <label style="width: 100px;" ng-bind="dataItem.name"></label>
                                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                </br>
            </li>


            <li style="width:48%"
                ng-if="submitData.exerciseConfig.questionSource==='QUESTION_LIBRARY'&&model.paper.randomTakeObjectConfigurationItemDtos.length>0">
                <span class="left-txt fl">已选题库：</span>
                <div style="margin-left: 120px">
                    <p ng-repeat="library in model.paper.randomTakeObjectConfigurationItemDtos">
                        <span class="tl" ng-bind="library.name"></span></br>
                    </p>
                </div>
            </li>


        </ul>
        <div class="cb-tit mt20 bor-t pt20 clear">练习培训要求</div>
        <div class="mt10 pl10">
            <p>
                <span class="b pb10">前置条件 —— 配置开始培训内容的前提要求</span><br>
                <label>若试题来源于课程ID，则须有课程被选；若试题来源于题库，则无前置条件</label>
            </p>
            <p class="bor-t pt10 mt10">
                <span class="b pb10">考核要求 —— 配置培训内容通过条件</span><br>
                <span class="txt-g">无</span>
            </p>
            <p class="bor-t pt10 mt10"><span class="b pb10">通过成果 —— 配置培训内容通过后所得成果</span><br><span
                    class="txt-g">无</span></p>
        </div>
    </div>


    <div class="btn-center">
        <a href="javascript:void(0)"
           ng-if="$state.current.name==='states.releaseGoods'"
           ng-click="events.saveExcrise()"
           class="btn btn-r">保存</a>
        <button ng-if="$state.current.name!=='states.releaseGoods'"
                ng-disabled="submitAble"
                ng-click="events.saveExcrise()"
                class="btn btn-r">保存
        </button>
        <a href="javascript:void(0)"
           class="btn btn-g ml10"
           ng-click="events.cacelExcrise()">取消</a>
    </div>
</div>