<div class="dialog-body">
    <div class="dialog-tit"><span ng-if="model.lookPriceCourseBagMode===1">添加定价</span><span
            ng-if="model.lookPriceCourseBagMode===2">查看定价</span><a href="javascript:void(0)"
                                                                   class="ico ico-close"
                                                                   ng-click="events.cacelEditPriceCourseTemp()"></a>
    </div>
    <div class="dialog-cont">

        <ul class="ul-d-form pt20 pl20 lh-1">


            <li><span class="left-txt"><i ng-if="model.lookPriceCourseBagMode===1">*</i> 定价销售名称：</span> <input
                    type="text"
                    ng-if="model.lookPriceCourseBagMode===1"
                    ng-model="model.tempCoursePoolPeriodPrice.saleTitle"
                    class="ipt ipt-large"> <span ng-bind="model.tempCoursePoolPeriodPrice.saleTitle"
                                                 ng-if="model.lookPriceCourseBagMode===2"></span>
            </li>

            <li><span class="left-txt"><i ng-if="model.lookPriceCourseBagMode===1">*</i> 每学时定价：</span> <input
                    type="text"
                    ng-if="model.lookPriceCourseBagMode===1"
                    ng-model="model.tempCoursePoolPeriodPrice.price"
                    class="ipt"> <span ng-bind="model.tempCoursePoolPeriodPrice.price"
                                       ng-if="model.lookPriceCourseBagMode===2"></span> 元/学时
            </li>


            <li ng-if="model.lookPriceCourseBagMode===1"><span class="left-txt"><i>*</i>课程包：</span>
                <button ng-click="events.openCoursePoolPeriodKendoDialog()"
                        class="btn btn-r">请选择课程包
                </button>
            </li>
            <li>
                <div class="column">
                    <div class="col-tit">已选课程包
                    </div>
                </div>
                <div>
                    <table class="table table-nf table-2">
                        <thead>
                        <tr>
                            <th class="tl">课程包名称</th>
                            <th width="80">门数</th>
                            <th width="80">学时</th>
                            <th width="100">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in model.tempCoursePoolPeriodPrice.poolList">
                            <td class="tl" ng-bind="item.name"></td>
                            <td><span class="b fs16" ng-bind="item.courseCount"></span>门</td>
                            <td><span class="b fs16" ng-bind="item.totalPeriod">3</span>学时</td>
                            <td class="op">
                                <a href="javascript:void(0)"
                                   ng-click="events.lookCourseBagDetail(item.coursePackageId)">查看</a>
                                <a href="javascript:void(0)"
                                   ng-if="model.lookPriceCourseBagMode===1"
                                   ng-click="events.splicePriceCourse($index,item)">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </li>

        </ul>


    </div>
    <div class="btn-center" ng-if="model.lookPriceCourseBagMode===1">
        <a href="javascript:void(0)"
           ng-click="events.pushCoursePoolPeriodPrice()"
           class="btn btn-r">保存</a>
        <a href="javascript:void(0)"
           class="btn btn-g ml10"
           ng-click="events.cacelEditPriceCourseTemp()">取消</a>
    </div>
</div>