<!--
<div class="footer">
    <div class="footer-bd">
        <p><a href="#" ui-sref="states.accountant.concatUs">关于我们</a> | <a href="#" ui-sref="states.accountant.teleUs">联系我们</a>
            | <a href="#" ui-sref="states.accountant.helpCenter">帮助中心</a> | <a href="#"
                                                                               ui-sref="states.accountant.onTraining">在线购课</a>
        </p>
        <p>Copyright 2016 ©合肥宏景软件有限公司 <span class="ml20">闽ICP备08103886号-1</span></p>
        <p>技术支撑：福建华博教育科技股份有限公司</p>
    </div>
</div>
-->

<div class="footer">
    <div class="footer-bd">
        <p>主办单位：合肥宏景软件有限公司</p>
        <p>请使用IE8以上浏览器及1366*768分辨率的电脑，从而达到最佳的浏览效果！</p>
        <p>备案号：<a href="http://www.miibeian.gov.cn/" target="_blank">闽 ICP 备08103886号</a></p>
    </div>
</div>
