<div class="mbar-outer">
    <div class="mbar-tabs"><a href="javascript:void(0)" ng-click="dirEvents.goCenter()"><i class="p-ico c1"></i><span
            class="txt">学习中心</span></a>
        <a href="javascript:void(0)" ng-click="dirEvents.goShoppingCart()"><i class="p-ico c2"></i><span class="txt">购物车<i
                class="p-ico redround-ico" ng-bind="shoppingCount"></i></span>
            <!--<div class="hover-block" style="margin-top: -60px;">
                <div class="hover-bd" style="width: 150px;">
                    <i class="p-ico arrowright"></i>
                    <div class="mb10">
                        <b>2016年度</b><br><b class="t-b">2</b>门课程，<b class="t-b">20</b>学时
                    </div>
                    <div class="mb10">
                        <b>2017年度</b><br><b class="t-b">2</b>门课程，<b class="t-b">20</b>学时
                    </div>
                </div>
            </div>-->

        </a>
        <!--<a href="javascript:void(0)"><i class="p-ico c3"></i><span class="txt">客服</span>
            <div class="hover-block " style=" margin-top: -35px;">
                <div class="hover-bd" style="width: 202px; height: 52px;">
                    <i class="p-ico arrowright"></i><i class="p-ico telphone-ico fl"></i>
                    <div class="fr fs18" style="width: 143px;">
                        <b class="ag">客服电话：</b><br>
                        <b class="t-b">0591-12898394</b>
                    </div>
                </div>
            </div>
        </a>-->
        <a href="javascript:void(0)" ng-click="dirEvents.goHelp()"><i class="p-ico c4"></i><span
                class="txt">帮助</span></a>
        <a href="http://www.huilearning.com/app/download.html" target="_blank"><i class="p-ico c5"></i><span
                class="txt fs12">APP</span>
            <div class="hover-block " style=" margin-top: -35px;">
                <div class="hover-bd" style="width: 100px;">
                    <i class="p-ico  arrowright" style="margin-top: -55px;"></i>
                    <img src="ahzj/fykccs/images/ewm.jpg" width="100" height="100">
                    <div class="mt10 tc">扫码下载APP</div>
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" id="returnTop" class="current"><i class="p-ico c6"></i><span class="txt">置顶</span></a>
    </div>
</div>