<div class="about_banner"></div>
<div class="p-wrap-full clear mb20 white-bg">
    <div class="p20">
        <img src="kccs/kccsv2/images/about_pic_1.jpg" alt="关于我们" class="fl mr30">
        <div class="fr aboutusbox">
            <p>
                合肥宏景软件有限公司多年来始终按照“全民学习、终身学习”的学习型社会要求，致力于全省专业技术人员继续教育培训工作。公司具备承担各级专业技术人才培训任务要求的场地、教学设备、专业图书、影像资料，以及与现代远程教育相配套的硬件、软件、网络环境，是一家具备实施大规模现代化远程教育条件的专业技术人员继续教育基地。</p>
            <p>多年积累终于灌溉出最娇艳的花。公司依托互联网技术汇聚各方优质教学资源打造全省专业技术人员继续教育第一品牌。</p>
            <p class="txtlist">
                <img src="kccs/kccsv2/images/about_pic_2.gif" class="yes_ico">
                在本平台能够培训的专业有：省厅指定的各年度的公需课、现代农业、装备制造、信息技术、生物制药、新能源、新材料、环境保护、防灾减灾、文化产业、现代管理和现代服务业等行业的专业课。
            </p>
            <p class="txtlist">
                <img src="kccs/kccsv2/images/about_pic_2.gif" class="yes_ico_1">
                课程更有针对性、时效性和趣味性，为广大学员解读热点要点，拓展视野。

            </p>
            <p class="txtlist">
                <img src="kccs/kccsv2/images/about_pic_2.gif" class="yes_ico_1">

                支持移动学习，打造PC+手机双屏联动的移动学习平台。
            </p>
            <p class="txtlist">
                <img src="kccs/kccsv2/images/about_pic_2.gif" class="yes_ico_1">
                拥有最优秀最专业的师资资源为广大专业技术人员答疑解惑。
            </p>
            <p class="txtlist">
                <img src="kccs/kccsv2/images/about_pic_2.gif" class="yes_ico">
                优质、贴心的服务为全省专业技术人员打造一个专业技术人员沟通、交流和学习的圈子。
            </p>
        </div>
    </div>
</div>