<div class="tips-box-1">
    请您在与学员达成一致的前提下，使用关闭订单功能~！关闭订单后，不能恢复需重新下单！
</div>

<div class="mt20">
    <span class="">请选择交易关闭的理由：</span>
    <div class="w-textarea" style="width:600px;">
        <textarea class="textarea wp-m-full fl"
                  ng-model="model.closeOrderDesc">
        </textarea>
    </div>
    <!--<select class="slt w-7" ng-model="model.closeOrderDesc">
        <option value="请选择关闭理由">请选择关闭理由</option>
        <option value="未及时付款">未及时付款</option>
        <option value="学员不想买">学员不想买</option>
        <option value="订单信息填写错误">订单信息填写错误</option>
        <option value="缺货">缺货</option>
        <option value="付款遇到问题（如余额不足、不知道怎么付款等）">付款遇到问题（如余额不足、不知道怎么付款等）</option>
    </select>-->
</div>