<div class="column">
    <div class="search-bar mt10">
        <ul class="ul-form li-fl clear">
            <li><input type="text" class="ipt ipt-small" placeholder="请输入学员姓名"/></li>
            <li>
                <input id="index_unit_input" hb-clear-input ng-model="model.indexUnitParams.viewName"
                       ng-click="events.showIndexUnit()" ng-keyup="events.keyUpIndexUnit($event)"
                       ng-change="events.refreshIndexUnit($event)" placeholder="请选择单位" type="text"
                       class="ipt ipt-medium">

                <div kendo-popup="node.indexUnitPopup" k-options="ui.popup.indexUnit"
                     style="min-width: 196px; max-height: 360px; overflow: auto;">
                    <div kendo-tree-view="node.indexUnitTree" k-options="ui.tree.indexUnit">
                    </div>
                </div>
            </li>
            <li>
                <input id="index_org_input" hb-clear-input ng-model="model.indexOrgParams.viewName"
                       ng-click="events.showIndexOrg($event)" ng-keyup="events.keyUpIndexOrg($event)"
                       ng-change="events.refreshIndexOrg($event)" placeholder="请选择部门" type="text"
                       class="ipt ipt-medium">

                <div kendo-popup="node.indexOrgPopup" k-options="ui.popup.indexOrg"
                     style="min-width: 196px; max-height: 360px; overflow: auto;">
                    <div kendo-tree-view="node.indexOrgTree" k-options="ui.tree.indexOrg">
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="btn btn-b">查询</a>
                <a href="#" class="btn btn-b">导出数据</a>
            </li>
        </ul>
    </div>
    <div kendo-grid="node.learningTimeGrid" k-options="ui.learningTimeGrid.options">
    </div>
</div>
