<ul class="ul-d-form">
    <li>
        <span class="left-txt">将订单对账为：</span>
        <label>
            <input type="radio" ng-model="model.reconResult" value="0">
            成功
        </label>
        <label class="ml20">
            <input type="radio" ng-model="model.reconResult" value="1">
            失败
        </label>
    </li>
    <li class="clear">
        <span class="left-txt fl">备注：</span>
        <div class="w-6 fl">
            <textarea class="textare wp-m-full fl"></textarea>
        </div>
    </li>
</ul>