<li>
    <div style="float: left;margin-right: 10px;" exp="true" has-permission="permission.learnTimeYear">
        <div query-learn-time-year model="model"></div>
    </div>
    <div style="float: left;margin-right: 10px;" exp="true" has-permission="permission.region">
        <div query-region default-region="model.defaultRegion" model="model" view-name="viewName"></div>
    </div>
    <div style="float: left;margin-right: 10px;" exp="true" has-permission="permission.titleLevel">
        <div query-title-level model="model"></div>
    </div>
</li>
